[2016-02-08 19:40] jgravois opened #2 "turn this into a plugin"
- [x] bundle gl dependency and wrapper code as a single esri-leaflet plugin
- [x] make constants no space camel case
- [x] extend MapBoxGL class
- [x] add error handling for style requests
- [x] pass dummy token
- [x] don't worry about auth (because our basemaps don't require it)
- [x] duplicate attribution code from basemaps (work on moving to utils later)

[2016-09-15 21:41] #2 closed

[2016-09-16 16:16] jgravois opened #7 "tests"

[2016-10-28 17:28] jgravois opened #12 "get vector.Layer working with tiles published from ArcGIS Pro"
@cegoddard can i ask you to:
1. publish a vector tile service with a single layer
2. make it public
3. share the url

please? 🍰

[2016-10-28 23:17] cegoddard commented on #12
http://tiles.arcgis.com/tiles/f2L9BNb7FaGJkvSP/arcgis/rest/services/vtpk_cities/VectorTileServer

[2016-10-28 23:24] jgravois commented on #12
thanks!  can you share the ArcGIS Online item id for this new service as well?

https://www.arcgis.com > My Content > Vector Tile Service > thing at the end of the url

[2016-10-29 00:15] jgravois opened #13 "add support for hybrid basemaps"
[code]
example here: http://jsbin.com/hiluli/1/edit?html,output

[2016-10-29 00:38] jgravois commented on #12
working mapbox-gl-js example:
http://jsbin.com/fepobey/edit?html,output

the same sample stops drawing features in [`0.23.0`](https://github.com/mapbox/mapbox-gl-js/releases/tag/v0.23.0). are we affected by the breaking  `LngLatBounds` change?

[2016-10-31 18:03] cegoddard commented on #12
vtpk_cities id=0bac0ffdc8634d9a9bc662bb8fa7547d

Resources for LngLatBounds
https://github.com/mapbox/mapbox-gl-js/releases/tag/v0.23.0

https://github.com/mapbox/mapbox-gl-js/pull/2414

https://github.com/mapbox/mapbox-gl-js/issues/2415

[2016-11-01 15:58] cegoddard commented on #12
John, had you heard of [MapProxy ](https://mapproxy.org/)before?

[2016-11-07 16:58] jgravois opened #14 "make sure screen readers ignore vector tiles"
http://wave.webaim.org/report#/https://hamhands.github.io/webmap-play/boston-polls.html#

i *think* we just need to make sure vector tiles have `alt=""` set, or figure out what the equivalent is in WebGL.

[2016-11-08 01:19] jgravois commented on #12
I haven't.

[2016-11-08 02:03] jgravois commented on #14
took a deeper look and realized that the errors wave.webaim.org are surfacing are from the marker icons, not the tiles.

[code]

[2016-11-08 02:03] #14 closed

[2016-11-14 21:06] #12 closed

[2016-11-22 18:04] jgravois opened #17 "custom styles applied to hosted tiles are ignored"
http://www.arcgis.com/home/item.html?id=bd505ce3efff479bb4e87b182f180159

currently displays generic world streetmap cartography

[2016-11-22 18:32] #17 closed

[2016-12-02 20:43] jgravois opened #19 "add support for esri basemaps with condensed root.json style"
http://www.arcgis.com/home/item.html?id=961371bf763245eb8e828ab6a7225045

currently throws:
[code]

[2017-01-04 22:28] shadc opened #20 "Custom vector tile service not displaying."
Using CDN...
 <script src="https://unpkg.com/esri-leaflet-vector@1.0.5"></script>

vector tile service:
L.esri.Vector.layer('c09b3bdbf3f741128e13a1817052e32c').addTo(map);

[2017-01-04 22:55] #20 closed

[2017-01-04 23:02] jgravois commented on #20
i just patched the bug and released `1.0.6`. can you confirm whether it resolves the problem on your end?

[2017-01-05 18:37] shadc commented on #20
Fixed... thanks!!

[2017-01-05 19:15] shadc opened #22 "npm install error (windows only)"
I am getting an error when trying to Install dependencies with npm install.  I've attached the npm-debug log (npm-debug.txt) and screen output of npm install command (npm-install-log.txt)

[npm-install-log.txt](https://github.com/Esri/esri-leaflet-vector/files/688130/npm-install-log.txt)
[npm-debug.txt](https://github.com/Esri/esri-leaflet-vector/files/688126/npm-debug.txt)

[2017-01-05 23:04] jgravois commented on #22
i can't repro, even on Node 7.x.

in 'esri-leaflet-vector/node_modules/mapbox-gl/package.json', is the property below present?

[code]

[2017-01-05 23:57] shadc commented on #22
Yes, it's there.  I tried it on another PC with a fresh GIT/Node install and got the same error.  Perhaps a Windows issue?

[2017-01-06 00:20] shadc opened #23 "Layer order not preserved"
When using a esri leaflet basemaplayer with the vector service, layer order is not always preserved.  When the map initially loads the layers are drawn in the correct order with the basemap at the bottom and vectors on top.  Panning the map causes the basemap to be on top of the vector tile service.  Oddly, zooming does not cause the issue.  Issue exists with Esri vector services and custom vector

[2017-01-06 00:30] jgravois commented on #23
its possible (and almost certainly preferable) to nest raster tiles as a [source](https://www.mapbox.com/mapbox-gl-style-spec/#root-sources) *within* the mapbox-gl style json instead.

at the moment, i'm not sure what options exist in ArcGIS Pro or the vector tile web editor to accomplish this or whether we'll need to expose something in esri-leaflet-vector to manipulate what is retrieved.

i can

[2017-01-06 00:57] jgravois commented on #22
yeah, i can repro on windows 😢

[2017-01-06 01:10] jgravois commented on #22
this is because the file rollup is looking for hasn't actually been created.

'node_modules/mapbox-gl/dist/mapbox-gl.js'

for the time being you should be able to edit the mapbox-gl package.json `build` script so that it stops calling `npm run docs` to resolve the problem. i'll try and find time soon to update our fork.

[code]

[2017-01-06 19:54] shadc commented on #22
Did this work for you?  I'm getting the same error. Tried on both PCs.

[2017-01-06 20:44] jgravois commented on #22
it did.  what error do you encounter when you attempt to run `npm run build` inside the mapbox-gl folder?

[2017-01-06 21:11] shadc commented on #22
After installing Browserify I had no errors running `npm run build`.  Still got the errors with npm install though.

Then I changed the line

[code]
to
[code]
in the mapbox-gl package.json build file.  This allowed `npm install` to run with just a few warnings.

[2017-01-06 21:50] jgravois commented on #22
argh.  i don't know what i was talking about yesterday afternoon.

`production` is actually the mapbox script that generates the 'dist/mapbox-gl.js' file.  please revert the `build` command to what i suggested previously, and try calling `npm run prepublish` manually.  this will execute both the `build` and `production` scripts.

afterward you *should* be able to get your local dev environment set

[2017-01-07 03:30] shadc commented on #22
I got the dev environment setup successfully. Here are my steps:

1. Fork and clone this repository.
2. Run `npm install` in esri-leaflet-vector folder.  This will throw errors but create the node_modules folder (dependancies).
3. Go into ~esri-leaflet-vector\node_modules\mapbox-gl folder and modify the package.json file to remove the "&& npm run docs" - as mentioned above.
4. From the same folder

[2017-01-07 03:39] shadc commented on #23
I went into the esri-leaflet-vector source and nested the raster tiles per your suggestion and it now renders as expected.   Thanks.

Util.js:
[code]

Also made one change in Layers.js
[code]

[2017-01-08 03:55] jgravois commented on #22
@shadc can you handle making a pull request to tackle the first item on the to-do list below?

- [ ] remove `&& npm run docs` from the 'prepublish' script in [Esri/mapbox-gl-js#indexed-vector-sources](https://github.com/Esri/mapbox-gl-js/tree/indexed-vector-sources)
- [X] migrate dependency to mapbox/mapbox-gl-leaflet, since its now _update() vs. update() agnostic. (see [`43e8886`](https://github.

[2017-01-09 22:37] shadc commented on #22
@jgravois - not sure that simply removing the `&& npm run docs` will resolve the issue.  I still have to go into the mapbox-gl module and run `npm run prepublish` to get it to work as expected.  I also have to install browserify.js before the `npm run prepublish`.  I also can leave the `&& npm run docs` in the script as long as I also install documentation.js first, however it throws an error sayi

[2017-01-09 23:47] jgravois commented on #22
no need! lets test something totally different:

what happens if you leave all the install scripts and 'devDependencies' in the package.json of your local copy of mapbox-gl alone and just update the [`jsnext:main`](https://github.com/Esri/mapbox-gl-js/blob/14946c8739bb238899ae6de102e35e2a82bd5b40/package.json#L6) to point at 'js/mapbox-gl.js' instead of 'dist/mapbox-gl.js'?

[2017-01-11 00:58] shadc commented on #22
That worked!  There is not a mapbox-gl.js file in my dist folder.  Should I make a pull request with this change or do you want to test more?

[2017-01-11 01:09] jgravois commented on #22
Yes please! since we are pulling down a raw commit hash and using rollup to generate our final `.js` bundle.  i think its fine to just point at the raw source that is already checked into version control.

[2017-01-11 01:34] shadc commented on #22
Arggg... spoke too soon.  Errors when running sample.html in js/mapbox-gl.js when modifying jsnext:main.  When I run the `npm run prepublish`, as previously described, it does create the mapbox-gl.js file (and mapbox-gl-dev.js) in the dist folder, but it's contents are completely different.  The sample.html also works as expected.

[2017-01-13 01:16] shadc opened #24 "Vector tiles generated via ArcGIS Pro (v1.2) are not rendered correctly."
There is a problem with mapbox-gl rendering vector tiles incorrectly when generated from ArcGIS Pro (v1.2) using the "Indexed" tiling format.  When using the "Flat" tiling format they render as expected.

![v](https://cloud.githubusercontent.com/assets/1339350/21914822/9ad1b65e-d8ea-11e6-83f5-42eac2aa8a2a.png)

[2017-01-13 19:10] jgravois commented on #24
thanks for this report.  i was under the impression that the commits within Esri/mapbox-gl-js#indexed-vector-tiles were sufficient to download the appropriate tilemap and omit making requests for non existent tiles.

is your screenshot actually a tileset published using Pro? it looks an awful lot like [...180159](http://www.arcgis.com/home/item.html?id=bd505ce3efff479bb4e87b182f180159) which is a

[2017-01-13 22:10] shadc commented on #24
Yes, it is a Esri hosted tile in the screenshot.  It appears I'm having problems with the rendering of tiles for both my custom vector tiles produced with ArcGIS Pro (as described above) as well as Esri's hosted tiles.  I don't seem to have a problem with my custom vector tiles when using the "Flat" tiling format though.  This might be due to issue #22.  I suspect that something is not right with

[2017-01-13 22:40] jgravois commented on #24
luckily, i've been seeing the same exact thing on my side.  i'll keep digging and see what i can figure out.

[2017-01-13 23:56] #24 closed

[2017-01-14 00:53] jgravois commented on #22
i have yet another suggestion for setting up a windows dev environment.  lets try just ***stop*** using rollup to bundle 'mapbox-gl' and just include it as an external dependency.

on my side this was sufficient to get the plugin to build and fix the 403 errors and inappropriate display behavior on screen.

two changes are necessary.

[code]

[code]
can you give that a go and let me know how it wo

[2017-01-14 01:29] jgravois commented on #22
its worth noting something inexplicable about the builds i've been creating successfully up until now.

my technique has been to point rollup at `"jsnext:main": "dist/mapbox-gl.js"` in mapbox-gl/package.json even though the source is not written in ES6, but rather (UMD?) output from browserify.

thinking that the raw `"main": "js/mapbox-gl.js"` was commonJS, i tried to get rollup to recognize it a

[2017-01-14 02:49] shadc commented on #22
@jgravois - I appended the code you provided to `profiles/base.js` and was able to successfully build.  I then added the .js reference to sample.html.  Unfortunately, it still renders funky and throws errors.

![image](https://cloud.githubusercontent.com/assets/1339350/21951672/e9014964-d9be-11e6-9ce6-b367658381f6.png)

[code]

[code]

[2017-01-17 19:02] jgravois commented on #22
ugh. i can reproduce the same thing. i'm stumped (for the moment anyway).

[2017-01-24 02:07] shadc opened #27 "Bootstrap modal and Leaflet fitBounds() method."
I'm trying to display a Leaflet map in a Bootstrap modal.  Everything works great, except if I try to reset the map extent via `map.fitBounds(LatLngBounds)` once the map has already been created.  After calling the `map.fitBounds(LatLngBounds)` the map does not refresh the surrounding tiles when panning as expected.  This only happens when I'm using layers from the esri-leaflet-vector plugin.   Wo

[2017-01-28 23:32] jgravois commented on #27
i haven't been able to figure out whats causing this (yet)

[2017-02-14 20:19] jgravois commented on #19
some more cool ones here:
http://storymaps.esri.com/stories/2016/vector-basemaps/

[2017-02-27 22:18] roemhildtg opened #28 "Support for vector tiles hosted on ArcGIS Enterprise"
I couldn't find any way to add a url to a custom basemap resource. Is this possible, or are only the default esri basemaps supported?

[2017-02-27 22:30] jgravois commented on #28
because multiple styles can be defined and associated with a single cached tile store, this plugin expects custom basemaps to be referenced via their item id.
[code]
[(ref)](https://github.com/Esri/esri-leaflet-vector/blob/35a720755987d0ee3e8801a93caa1edb1aaaf4f8/debug/sample.html#L39-L41)

[2017-02-28 14:54] roemhildtg commented on #28
@jgravois thanks for the response. So only vector tile layers hosted on AGO are supported?
Are there plans to support resources on local ArcGIS Servers/Portals?

[2017-02-28 18:03] jgravois commented on #28
it wouldn't be very difficult to add some sort of configuration option to allow folks to specify an alternate portal url.

to be honest, i'm juggling lots of other projects so if you (or anyone else that's interested) could provide urls for public test services and some more detailed information about what exactly you'd like to see, progress would be a lot more likely.

[2017-02-28 18:41] roemhildtg commented on #28
Totally understandable. I think this would be the approach I would be using:

[code]

The js api supports these types of urls:
[code]

Thoughts on that? I could look into making a pull request with the functionality.

[2017-02-28 18:54] jgravois commented on #28
to be honest, i don't really *love* the way the JSAPI expects developers to supply input parameters for `VectorTileLayer`.

it seems an unnecessary burden for the majority of developers that use ArcGIS Online to have to construct an obscure url for the sake of the minority that use a custom portal.

i haven't given it much thought, but my first instinct is that we do something like this:

[code]

[2017-02-28 18:57] roemhildtg commented on #28
Not trying to be difficult, but from my perspective I might like to use _both_ arcgisonline basemaps _and_ a portal basemap. So wouldn't configuring the portal url globally would prevent that?

[2017-02-28 19:22] jgravois commented on #28
no need to apologize.  i hadn't considered that at all.

we could just as easily pass the information along in an *optional* constructor option.

[code]
the plugin is experimental at this point, so i'm not against making a breaking change.  i just want to make sure that whatever we decide on going forward prioritizes simplicity for the most common use cases.

[2017-02-28 19:30] roemhildtg commented on #28
IMO, it would also be nice to have the flexibility of using the actual server endpoint rather than requiring the portal url/item-id.

`https://basemaps.arcgis.com/b2/arcgis/rest/services/World_Basemap/VectorTileServer`

I'm not sure, but is there a major benefit to using the item id/portal url? Does the portal json give esri-leaflet more information?

[2017-02-28 20:10] jgravois commented on #28
my understanding is that the tile server itself will have an associated default style so there'd certainly be no harm in accepting those urls.

my initial approach in this plugin required focusing on style `ids` because all the Esri vector basemaps point at the exact same base data.  in practice, i don't know how come it is/will be for customers to create more than one style for their own basemaps

[2017-03-07 13:40] roemhildtg commented on #28
From my perspective I doubt I'd ever have more than one style per basemap. This is because it seems much easier to publish a basemap from ArcGIS Pro than to go through and modify all the styles by hand. I've already published a couple of basemaps using nearly the same data and the size is incredibly small compared to regular tile layers so having more than one copy of the data is not a big deal.

[2017-03-28 16:59] jgravois opened #29 "alternate styles for ArcGIS Pro published vector tilesets are not honored"
ref: https://github.com/Esri/esri-leaflet/issues/943

esri Leaflet v.2.0.8 (master)

[2017-03-30 19:08] jgravois opened #30 "failure to load tiles after a zoom (Chrome/Safari/Edge)"
1. add an esri vector tilebasemap and a point geometry `featureLayer`
2. zoom once and then pan the map.  no tiles are drawn in Chrome or Firefox
[code]
the problem occurs _way down_ in mapbox-gl-leaflet.
because [`L.DomUtil.TRANSITION_END`](https://github.com/mapbox/mapbox-gl-leaflet/blob/bacf37f31f4daee536c8914de31af5e08dee23a4/leaflet-mapbox-gl.js#L75) isn't fired after the zoom, further calls

[2017-03-30 19:10] jgravois commented on #30
cc/ @wmathot

[2017-03-30 23:32] jgravois commented on #27
i can't reproduce this in firefox, which leads me to believe that the underlying problem might be the same as what i'm seeing in #30

[2017-04-14 04:53] enjikaka opened #31 "How to use esri-leaflet-vector with npm and ES6 imports?"
Trying out the esri maps with leaftlet in a hobby project at the moment.

Using the normal esri-leaflet works fine like this;
[code]

But adding importing esri-leaflet-vector doesn't add it as property to EsriLeaflet (which docs lead you to believe it does; "`L.esri.Vector`").

Also, importing it like this;
[code]

and trying using it like this;
[code]

doesn't work either.

How if this intended t

[2017-04-15 04:39] jgravois commented on #31
to be honest, i'm not entirely surprised by this because we're currently doing something pretty hacky with rollup to bundle esri-leaflet-vector's own non ES6 dependencies (more info [here](https://github.com/Esri/esri-leaflet-vector/issues/22#issuecomment-272590362)).

its on my list of things to do to revisit, but its a long list at the moment.

[2017-04-19 22:22] jgravois commented on #31
i still can't figure out how to bundle mapbox-gl the _right way_, but i'm getting closer.

i can rollup the cjs source using the setup below, but the bundle isn't usable because internal references to `assert`, `fs` and `path` can't be resolved.

[code]
[code]

i noticed that the [production](https://github.com/Esri/mapbox-gl-js/blob/14946c8739bb238899ae6de102e35e2a82bd5b40/package.json#L71) brows

[2017-04-19 22:44] #30 closed

[2017-04-19 22:44] jgravois commented on #30
the solution ended up being a lot different than i was expecting.

upstream, mapbox-gl-leaflet had a failsafe to set the property below manually after either `TRANSITION_END` ***or*** the map `zoomend` fired.

[code]

somehow i missed porting that very helpful fix to our fork.  rather than stub it in, i proposed another change in the upstream project to make it versatile enough to work with the ve

[2017-04-19 22:53] jgravois commented on #27
i wouldn't say the problem is *fixed*, but i saw a substantial improvement when testing with `v1.0.7`. sometimes the map loaded the way it was supposed to. when it didn't, a small pan was enough to get the map back in a predictable state.

curious to hear what you see on your side.

[2017-04-20 10:45] enjikaka commented on #31
@jgravois Nice to see that you're making progress! I can try to have a look too this weekend. :)

[2017-05-01 22:47] jgravois commented on #29
sorry for the delay, but i finally got a chance to look into this and i'm not able to reproduce the error that has been described.

http://jsbin.com/zivoto/1/edit?html,output

[code]
@cmndrbensisko can you provide more information and/or a repro case please?
maybe its specific to alternate styles for vector tilesets published using ArcGIS Pro?

[2017-08-17 15:18] ecmanghi opened #33 "Road shields not displaying"
I noticed road shields do not display in both vector layers and basemaps.  Could an image link be broken?

esri-leaflet-vector
![image](https://user-images.githubusercontent.com/15742079/29419494-437607b8-833d-11e7-8e78-81a7097b080e.png)

Esri JS API
![image](https://user-images.githubusercontent.com/15742079/29419589-7adc91e0-833d-11e7-8df1-210733a46c48.png)

[2017-08-17 15:26] ecmanghi commented on #33
Correction: I think this is an issue on my end of things.  You can close it.

[2017-08-17 15:29] jgravois commented on #33
i'm not seeing this in our live sample when zooming into LA

[2017-08-17 16:24] ecmanghi commented on #33
Hi John,
Thanks for your quick response think this is an issue on my end but I’m not sure what’s causing it.  You can close it.  Thanks,
Beth

From: john gravois [mailto:notifications@github.com]
Sent: Thursday, August 17, 2017 11:29 AM
To: Esri/esri-leaflet-vector <esri-leaflet-vector@noreply.github.com>
Cc: Manghi, Beth <BManghi@yesvirginia.org>; Author <author@noreply.github.com>
Subject: Re: [

[2017-08-17 17:44] jgravois commented on #33
no worries! its hidden in the bottom left corner, but you should be able to do it yourself too.

[2017-08-17 17:44] #33 closed

[2017-09-12 15:48] blahmonkey commented on #31
@jgravois @enjikaka Any luck figuring this out? Running into the same issue here. I see exactly the same object when console-logged on import from 'esri-leaflet-vector'

Thanks!

[2017-09-12 18:46] blahmonkey opened #34 "L.esri.Vector.layer issue"
Hi,

Trying to do

`L.esri.Vector.layer('2f030643ec154495b25256784f5e7d24').addTo(this.mapView)`

I get these console errors (network issues) below, and the tile layer does not display, with or without a basemap layer (basemap layer loads fine e.g newspaper.

[code]

The item is publicly shared, and I also tried with token (testing token).

**Update**
The tile layer is loading now, but some issues

[2017-09-12 21:01] enjikaka commented on #31
@blahmonkey I ended up not using esri-leaflet-vector unfortunately.

[2017-09-12 21:14] blahmonkey commented on #34
Further note - I tried with the below 'storymap' custom layer I found by browsing the issues board here (got this url http://storymaps.esri.com/stories/2016/vector-basemaps/ ), and this works fine - no 403s, and the map loads fine as well, no need to zoom out to see the tiles

` L.esri.Vector.layer('cc82d6c506cc4accadea6cc377ed1fe0').addTo(map);`

[2017-09-19 13:48] blahmonkey commented on #34
@jgravois Any idea what might be wrong? Definitely in the internals...I will try to take a look but would appreciate it if you could check it out

[2017-09-20 00:59] jgravois commented on #34
i can't repro the error with a layer i just created using our [Application Prototype Lab](https://maps.esri.com/jg/VectorBasemapStyleEditor/index.html) editor.

http://jsbin.com/hohoyey/edit?html,output
https://www.arcgis.com/home/item.html?id=6c34522d1cb64af5ad1bd1b281d44668

how did you create your layer? when?

[2017-09-20 07:09] blahmonkey commented on #34
Interesting.

Our goal was to custom-style a vector basemap (in this case 'topographical') to apply a custom style we'd use with Google Maps (happy to move away from it)

I used this blog as a guide around 10-12 days ago to accomplish this --
https://blogs.esri.com/esri/arcgis/2015/11/19/how-to-customize-esri-vector-basemaps/

It worked perfectly fine, we were able to have a layer whose root.json

[2017-09-20 07:34] blahmonkey commented on #34
Update -- tried with your jsbin, forked it, modified the item id, and tried with/without token.

Network inspector shows this error
<img width="1433" alt="screen shot 2017-09-20 at 1 02 16 pm" src="https://user-images.githubusercontent.com/3027923/30631968-f3366658-9e03-11e7-8d4b-c94b053a7b57.png">

The item is shared with public. The account is an enterprise account @ arcgis.com. Token I tried is

[2017-09-21 01:11] jgravois commented on #34
When you share an item publicly any app *should* be able to access the content without supplying a token.

the issue isn't so much the particular editor as it is what specific tile layer you copy/paste and start modifying. the difference between yours that fails and mine is the underlying service.

mine
http://www.arcgis.com/home/item.html?id=c50de463235e4161b206d000587af18b

yours
http://www.arcg

[2017-09-21 05:16] blahmonkey commented on #34
Perfect, got it working!

For anybody else who reads this - I created an item with v1 in the URL by using the APL ( https://maps.esri.com/jg/VectorBasemapStyleEditor/index.html ) and choosing 'copy esri basemap item'. This item I then shared publicly after styling and saving it in the APL. I then visited my arcgis.com account, to get the item-id from the URL of the item (from the 'content' section

[2017-09-21 16:29] jgravois commented on #34
glad to hear it.

the same limits apply whether the basemap you load is private or public.

[2017-09-21 16:33] blahmonkey commented on #34
Great answers, thanks :)

[2017-09-21 16:33] #34 closed

[2017-09-25 15:21] ecmanghi opened #35 "Vector layer/basemap not staying in place"
I'm trying to determine if this is something happening locally on my machine or if it's more widespread.

Using the example for switching a vector basemap (http://esri.github.io/esri-leaflet/examples/vector-basemap.html) if I pan the map and immediately switch to another basemap, the layer does not reset back to the correct position.  It's stuck when I panned to or the new layer doesn't appear.  T

[2017-10-02 17:23] jgravois commented on #35
hi @ecmanghi, i've experienced behavior similar to what you're reporting.

i'm not sure what would be best internally to resolve the problem but i'll keep thinking about it.

[2017-10-17 10:27] blahmonkey opened #37 "Map glitches (Custom map)"
Hi,

Facing issues with a custom map (styled it using your style editor).

Tested on Chrome, Firefox on Windows 10 + OSX Sierra. The pic below is from Chrome + Win10

The issues include:
1. Much slower loading of tiles than the raster basemaps
2. Glitches like the one in the picture -- you can see a transparent 'lithuania' east of belgium, 'denmark' to its left (not seen in raster basemaps)
3. Occ

[2017-10-20 07:11] blahmonkey commented on #37
FYI -- I tried with render: L.canvas() as well -- get the same issues as above.

@jgravois Any ideas?

[2017-12-08 18:35] ecmanghi commented on #23
@shadc I tried your basemap workaround and for the most part the layer order is correct but I'm getting a WebGL render warning.  Did you run into that at all?

[2017-12-08 20:31] shadc commented on #23
@ecmanghi, I also get the warnings.  They do not seem to affect the functionality.  This might be fixed in a newer version of mapbox-gl (see issue below)?  However, esri-leaflet-vector is using a forked version of mapbox-gl that has not been updated in a few years.

[mapbox-gl issue#3312](https://github.com/mapbox/mapbox-gl-js/issues/3312)

[Esri Forked mapbox-gl](https://github.com/Esri/mapbox-gl

[2017-12-08 20:35] ecmanghi commented on #23
Thanks for getting back to me.  That's exactly the error I'm getting.  I think it may be causing a rendering issue on mobile as well.

[2018-01-05 20:13] jgravois opened #38 "add support for adding two vector basemap layers"
str: http://coolmaps.esri.com/Verizon/VectorTiles/test.html

i think we just need to `_glMap.addSource` instead of instantiating another `glMap`

[2018-01-05 20:44] jgravois opened #39 "add moar basemaps"
https://www.arcgis.com/home/group.html?id=30de8da907d240a0bccd5ad3ff25ef4a&start=1&view=list&sortOrder=asc&sortField=title&focus=layers-weblayers-tiles#content

[2018-01-08 21:51] leyenda commented on #31
@enjikaka May I ask what end you using for serving Esri vector tiles?

[2018-01-09 08:35] enjikaka commented on #31
@leyenda I ended up not using the esri vector tiles since this lib did not work :(

[2018-02-15 12:56] bijoyvalsan opened #40 "Issue loading Arcgis basemap layer and reference layer."
Hi,

I am trying to load ArcGis light gray base map (with out label - vector) and the reference layer (labels -vector). when i add initially it loads fine. as i move on the map the labels disappear.
below it the code i am using. kindly help

       var map = L.map('map').setView([0, 0], 2);
        var baselayer = L.esri.Vector.layer('291da5eab3a0412593b66d384379f89f');
        var referencelayer

[2018-02-15 14:18] gavinr commented on #40
It looks like if you only load one at a time, it works ok:
https://jsbin.com/civoxoh/edit?html,output

So based on that, I think this is a duplicate of #38.

[2018-02-15 14:47] gavinr opened #41 ""Spring" and "Mid-Century" IDs swapped"
Looks like the item ID [referenced here](https://github.com/Esri/esri-leaflet-vector/blob/df7eb3520d5d2bc2b8778ff9adc5043c27e60170/src/Basemap.js#L18) in basemap.js (`763884983d3544c0a418a97992881fce`) is named `Spring` but is actually [pointing to the `Mid-Century` basemap](https://www.arcgis.com/home/item.html?id=763884983d3544c0a418a97992881fce)
. And then same thing but in reverse for what we

[2018-02-15 15:07] gavinr commented on #22
@jgravois I know this is a long thread at this point and I may have missed something, but I'm getting errors when trying to do `npm install` on Windows 10: `Error: Could not resolve 'mapbox-gl' from C:\....\esri-leaflet-vector\src\Util.js`

<details><summary>NPM Output</summary><p>

[code]

</p></details>

Is this consistent with this issue or a separate issue? Any way I can help debug?

[2018-02-15 17:28] jgravois commented on #40
agreed.

[2018-02-15 17:28] #40 closed

[2018-02-15 17:52] jgravois commented on #22
i took a look at this project for the first time in awhile a couple weeks ago and now i can't even `npm install && npm build` on my mac. 😿

a fresh set of eyes never hurts, but given the hackish nature of this plugin (my fault) and trying to syncronize a WebGL w/ Leaflet in general, don't let it turn into a time sink.

[2018-03-14 14:16] gavinr opened #43 "Update Basemaps that are in Mature Support to v2 versions"
Most of the [item IDs listed](https://github.com/Esri/esri-leaflet-vector/blob/master/src/Basemap.js#L10-L22) are in "mature support". [Example for Dark Gray Canvas](https://www.arcgis.com/home/item.html?id=57436c01bc754dbb87dfb636b6484022). But updating to the "v2" versions may cause some slight changes to current functionality - for example [dark gray basemap v2](https://www.arcgis.com/home/item

[2018-03-14 16:23] #41 closed

[2018-03-21 13:38] ymoisan commented on #31
Hello,

I am trying to tweak the library so I can use one of my client's vector tile coverage in Portal for ArcGIS.  Following [Development Instructions](https://github.com/Esri/esri-leaflet-vector#development-instructions), I cloned the repo but the rest of the sequence failed on `npm build` :
[code]

I notice directory *www* is not in the *node_modules\rollup* directory.  Any hint ?

Thank you.

[2018-03-27 21:29] cloydc opened #44 "Using v2 Basemaps causes points to draw in wrong hemisphere"
I'd like to update our web maps to use the v2 vector basemaps. When I attempt to plugin the ID's for the v2 maps, the feature layers draw in the wrong location. It appears they are drawing on the southern hemisphere of the map, instead of the northern hemisphere.

Existing map using the old Newspaper basemap.
Code: var map_layer = new L.esri.Vector.basemap('Newspaper');

<img width="782" alt="scre

[2018-03-27 22:14] jgravois commented on #44
i currently can't even build the source for this plugin locally (described in https://github.com/Esri/esri-leaflet-vector/issues/22#issuecomment-366008229) so its unlikely you'll see additional fixes for this lib anytime soon.

if you're interested in vector basemaps you're much better off using version [4.x](https://developers.arcgis.com/javascript/latest/sample-code/layers-vectortilelayer/index.

[2018-03-30 05:47] jgravois commented on #44
ugh, i figured out your problem. the item you referenced is a [WGS84](https://www.arcgis.com/home/item.html?id=41597245552743d5910de614d47e748c) tiled basemap.

you could try supplying a custom CRS when you instantiate your leaflet map, but it'd be much easier to just use the [web mercator](https://www.arcgis.com/home/item.html?id=de26a3cf4cc9451298ea173c4b324736) version instead.

[code]

[2018-03-30 06:00] jgravois commented on #31
@ymoisan the error you mention is thrown by the much newer version of rollup you are attempting to use to compile the source.

i've refactored this lib to get it up to date in #45. feel free to pull down the [`rollup`](https://github.com/Esri/esri-leaflet-vector/tree/rollup) branch  and test for yourself.

the proposed change there also makes mapbox-gl an external dependency instead of bundling th

[2018-03-30 06:01] jgravois commented on #38
relevant: https://github.com/mapbox/mapbox-gl-js/issues/4000

[2018-03-30 15:54] #31 closed

[2018-03-30 15:55] #39 closed

[2018-03-30 15:55] #43 closed

[2018-03-30 15:55] #22 closed

[2018-03-30 15:56] #44 closed

[2018-03-30 15:56] #29 closed

[2018-03-30 15:59] jgravois commented on #37
sorry for the extermely delay reply. i pushed some updates and tested against `master` and drawing behavior with your layer seemed solid.

happy to reopen if you are still experiencing issues with the latest.

[2018-03-30 15:59] #37 closed

[2018-03-30 16:02] jgravois commented on #19
looking at all the `v2` basemaps, i don't think we're publishing ones like these anymore.

[2018-03-30 16:02] #19 closed

[2018-05-17 21:19] tgirgin23 commented on #31
For those still trying to achieve this... here is how to do it.

1) Clone the repo and copy the src/ files (**Basemap.js, EsriLeafletVector.js, Layer.js, Util.js**) within your project's root folder (anywhere is fine, just as long as you can access the files!). For my project, the src files are under **my-project/src/utils/esri-leaflet-vector/**.
2) In your code, add a (change this according to wh

[2018-06-04 08:45] DucHo7 opened #46 "StreetsNight"
When to fixed StreetsNight basemap

[2018-06-05 21:55] jgravois commented on #46
thanks for the report.

it looks to me like we're choking on a bad hexidecimal color in the style.json for the layer.

[`#3a6a664`](https://www.arcgis.com/sharing/rest/content/items/92c551c9f07b4147846aae273e822714/resources/styles/root.json?f=json)

i've passed along the report to the same that maintains the [service](http://www.arcgis.com/home/item.html?id=92c551c9f07b4147846aae273e822714) but i

[2018-06-07 13:36] jgravois commented on #46
the typo in the `v1` World Street (Night) basemap has been fixed, which resolved the problem in this plugin.

thanks again for your report.

[2018-06-07 13:36] #46 closed

[2018-06-19 04:37] gavinr commented on #28
So just to get this discussion rolling again on this ... Would these four test cases be what we want to support going forward?

[code]

[2018-08-08 16:12] AlanPew commented on #24
If I'm following this ticket correctly, the reason there is inconsistency is because indexed tiles are staggered in their availability based upon the density of data at that particluar zoom level.  Flat tiles create tiles for every tile slot regardless of density of vector data at that spot.

"A more optimized approach that minimizes the size of the tiles is to create and persist index polygons. I

[2018-08-08 17:48] AlanPew commented on #24
Was able to get around the gaps in indexed vector tiles by duplicating all the layers I was using, and creating sources with everything identical but the maxzoom/minzoom.  When there are tile gaps, then the tiles are rendered with overzoom tiles, otherwise the appropriate tiles render as needed.

ESRI OSM with duplicated layers to avoid issues with indexed vector tiles and mimic full tiles: http:/

[2018-08-22 21:02] COV-GIS commented on #28
Number 5 use case would be to consume an unhosted custom `.json` file directly.

[code]

@gavinr I see you're assigned. Any plans to work on this? Or in the works?

[2018-08-22 21:44] roemhildtg commented on #28
@COV-GIS I do believe that 4 would handle that also, so long as you've set up iis to host the json file as a default document.

[2018-08-22 22:59] COV-GIS commented on #28
I guess when I see the url in no. 4 I'm thinking vtl source and not style like `root.json` or what have you. Methinks it should be a style json endpoint or file as the source(s) would be included therein.

[2018-08-23 01:15] roemhildtg commented on #28
Ah I see. Yeah that would be yet a different case.

[2018-08-23 20:33] gavinr commented on #28
@COV-GIS thanks for the additional discussions. I did take a look recently but it turned out to be more refactoring than i had time for at the time, so I had to shelve it. It's still on the back of my mind, but if you'd like to take a whack at it, you're definitely welcome.

[2018-09-04 21:16] COV-GIS commented on #28
Thanks @gavinr. I might take a look. `esri` + `leaflet` looks promising for simple maps. But I want my custom VTLs.

[2018-09-11 20:36] tswalters opened #47 "Support for V2 base maps"
Are there any plans to update this plugin to support the Esri V2 basemaps?  We were able to get this plugin to render some of the maps but the ones with images/overlays won't render properly currently.

[2018-09-11 21:44] jgravois commented on #47
unfortunately not.

I don't know what would be required and can't spare the time to find out.

[2018-09-14 02:28] jgravois commented on #47
this turned out to be a lot easier than i anticipated.

based on the work in #48, i've released [`v2.0.0`](https://github.com/Esri/esri-leaflet-vector/releases/v2.0.0) which supports a variety of v2 basemaps.

### one caveat
in v2 they separated the labels and base for Gray/DarkGray and HumanGeography in two different styles.

since i dont know how to mashup more than one style in mapbox-gl-js (se

[2018-09-14 02:28] #47 closed

[2019-04-12 15:37] kjones09 opened #52 "Vector Base Maps out of Sync with other layers"
Sometimes my base map will not be in sync with the other layers on it.  A combination of zooming in, and clicking on an icon's popup then clicking a home button to get back to the Continental US will make it out of sync. If I click and move the map slightly it snaps back to the correct location.  I have put in some JavaScript to move the map a fraction of a latitude and that doesn't fix it, only a

[2019-04-17 23:02] jgravois commented on #52
hey @kjones09 :wave:

unfortunately, i don't know. our upstream dependency `mapbox-gl-leaflet` is just a (brittle) attempt to keep a WebGL context in sync with the canvas/svg leaflet map.

the code you'd want to look closest at the most closely is here:
https://github.com/mapbox/mapbox-gl-leaflet/blob/7382e9ce9bc05a9385b96f1e9cd55d27f47412ff/leaflet-mapbox-gl.js#L142-L182

[2019-04-30 10:09] pluservice opened #53 "ESRI Vector tile not found"
At zoom level >12

get https://basemaps.arcgis.com/arcgis/rest/services/World_Basemap_v2/VectorTileServer/tile/12/1495/2202.pbf
{"error":{"code":404,"message":"The requested URL was not found.","details":[]}}

https://codepen.io/anpasq/pen/WWBQYP

![image](https://user-images.githubusercontent.com/17173722/56954600-77e32f80-6b3f-11e9-9096-ce6cf6a46189.png)

[2019-04-30 19:01] jgravois commented on #53
this is a particularly bad example of the third disclaimer in the README.

one option you might consider is reverting to `v1.x`, where we still bundled `mapbox-gl-js` internally, and we used a stale fork that included Esri's indexed implementation that resamples missing tiles.

[2019-05-02 07:19] pluservice commented on #53
By the way in this case the problem occurs with a zoom level of 13.
With this limitations, unfortunately  the plugin is unusable.

[2019-06-18 23:23] rew-ron opened #54 "Add support for private layers or layers shared across the organization"
At the moment there's no way to set the token.

The following doesn't work as expected.
[code]

[2019-06-26 11:46] siyawandisa opened #55 "Vector basemaps missing tiles"
Google Chrome Version 75.0.3770.100 (Official Build) (64-bit)

I could reproduce this error on the ESRI Leaflet demo site.
https://esri.github.io/esri-leaflet/examples/vector-basemap.html

Please note this issue is intermittent.

Steps to reproduce the error:

1. On the demo site link above, click on the basemap dropdown on the top-right corner of the map area to change between different vector ba

[2019-06-26 12:53] gavinr commented on #55
@siyawandisa what OS are you using? Have you tried on different networks to rule out a connection issue?

[2019-06-26 14:55] jgravois commented on #55
duplicate of #53

[2019-07-01 10:14] siyawandisa commented on #55
Hi @gavinr
I'm using Windows 10 Pro.
I reproduced it again just now on https://esri.github.io/esri-leaflet/examples/vector-basemap.html

[2019-07-01 12:55] gavinr commented on #55
@siyawandisa did you see john's note that it may be a duplicate of #53?

[2019-08-07 15:26] jgravois opened #56 "bump mapbox-gl-leaflet to reduce flicker at edge of map during panning"
see https://github.com/mapbox/mapbox-gl-leaflet/pull/97

[2019-10-04 17:14] patrickarlt opened #57 "Upcoming deprecation and new vector tile libraries"
From: https://github.com/Esri/esri-leaflet/issues/1163#issuecomment-538462141

[2019-12-17 23:24] #7 closed

[2019-12-17 23:25] #13 closed

[2019-12-17 23:27] #38 closed

[2019-12-17 23:36] #56 closed

[2020-01-20 23:51] kragoth opened #58 "Npm dependencies using git instead of npm published module"
The mapbox-gl dependency in packages.json is defined as:
`"mapbox-gl": "git+https://github.com/Esri/mapbox-gl-js.git#indexed-vector-sources",`

This causes issues in enterprise environments which use npm proxies to install dependencies.
As mapbox-gl has a properly published npm module can we please change the dependency to:
`"mapbox-gl": "^1.6.1",`

[2020-01-21 00:18] jgravois commented on #58
given the information in #57, that's a good idea, although I'd recommend using `"mapbox-gl": "^1.0.0"`.

[2020-03-22 07:50] brentporter commented on #57
Hi John and Patrick!
I am trying to use this with my COVID-19 dashboard map and I was wondering if there had been any progress made on getting the plugins created? I am having issues with this one.
Thanks
Brent Porter

[2020-03-31 03:52] Mak-NOAA opened #59 "L.esri.Vector.Layer calls URL twice"
## Describe the bug

I'm using https://esri.github.io/esri-leaflet/api-reference/layers/vector-layer.html to call a NOAA.gov vector tile map but the map is not loading. It's also calling the URL twice. First it calls the URL direct and gets a response, the 2nd time it calls it with "https://www.arcgis.com/sharing/rest/content/items/" prefixed to the URL

## Expected behavior

Call the URL once and

[2020-03-31 17:18] jgravois commented on #59
can you copy/paste that JSON?

[2020-03-31 20:24] Mak-NOAA commented on #59
@jgravois thanks for transferring this issue to https://github.com/esri/esri-leaflet-vector

Below is the request and response from the two calls:

Request URL:
https://[I have the IP address here]/server/rest/services/Hosted/Acoustics_Survey2012/VectorTileServer?f=json
w/ response:

`{"name":"Layers","copyrightText":"NOAA Fisheries, Northwest Fisheries Science Center, Fishery Resource Analysis an

[2020-03-31 21:36] jgravois commented on #59
i forgot, there is actually a cascade of _three_ requests.

things are most likely breaking down on this line.
https://github.com/Esri/esri-leaflet-vector/blob/8a9b6056b02d17cdfb22d0ffa5fba94e7ea7e45c/src/Layer.js#L39
i'd also guess that a relative url or two is what's giving us grief.

i don't work at Esri anymore and can't spare the time to investigate further and/or solve the problem on my own

[2020-05-05 14:20] irzu commented on #28
Could you possibly advise whether a layer requiring a token can be used?
tried `L.esri.Vector.layer('12345?token=...').addTo(map);` - didn't work

[2020-06-17 15:35] CbastianRobles11 opened #60 "when i enter a import . L.esri it becomes undefined"
Hi , I can help you , please
I have this import ( import {OpenStreetMapProvider} )from 'leaflet-geosearch' in my webpack app file. When it exits the Geocoding amount it stops working, when I comment the import it recognizes it.

how can i use this library and use reverse geocoding at the same time?

===================Below my code===========================
import { OpenStreetMapProvider} from 'l

[2020-11-04 15:12] yjaffrain commented on #55
Hi @siyawandisa, I have the same problem and we're in Nov 2020 .... do you know of any solution ?

[2020-11-20 01:59] craigstanton commented on #31
I've followed @tgirgin23's steps exactly but as soon as I try to use `vector.basemap` I get "Can't find variable: global", which is extra etrangebecause I can't find any reference to that variable in the four .js files that I imported

[2020-12-07 09:33] flysubmarina commented on #31
@tgirgin23 Hello, i`ve used your approach and Mapbox GL requires an access token. So i think i need to get it from mapbox and pay for map using. For now i have arcgis token, how can i connect it with mapbox without generating a new mapbox token?

[2020-12-10 08:30] pluservice opened #61 "mapbox-gl-js v2.0.0 Breaking changes"
Starting from version 2.0 mapbox-gl-js is no longer open source , live examples that link to the latest version of mapbox-gl-js are not working anymore http://esri.github.io/esri-leaflet/examples/vector-basemap.html

We report about MapLibre GL,  a community led fork derived from mapbox-gl-js
https://github.com/maplibre/maplibre-gl-js

[2021-01-22 02:50] jag-eagle-technology commented on #29
This is an issue - your test above references Esri's hosted gray vector tile basemap rather than one you have published.

[2021-01-28 20:32] parksconservancy opened #66 "esri-leaflet-vector/examples/custom-vtl.html Not Working"
Hi-
When testing the code referenced here : esri-leaflet-vector/examples/custom-vtl.html in both jsfiddle and VSCode I'm getting the following errors:

Failed to load resource: the server responded with a status of 404 (Not Found) - esri-leaflet-vector-debug.js:1
Uncaught TypeError: Cannot read property 'vectorTileLayer' of undefined - test.html:43

Any thoughts on why this is happening would be r

[2021-01-30 14:12] jwasilgeo commented on #66
@parksconservancy those examples are intended for developer testing/debugging. The error is indicating that there’s an issue loading a file that is referenced _locally_ that won’t exist in jsfiddle:

You can either try out the developer instructions in the README to try out the example files as-is, or more simply replace your script tags with what can be found in the main code snippet here:

https

[2021-02-01 14:42] zac-stanley commented on #66
Thanks @jwasilgeo  I'm cooking now.

[2021-02-01 16:31] abdulk1 opened #68 "Invalid Token error behind corporate firewall"
We're using the new esri-leaflet and esri-leaflet-vector plugins (v3) and trying to use vector basemaps.

We have an API key generated but when using it from behind our organization's firewall we receive an invalid token error. `{code: 498, message: "Invalid token.", details: []}`

The same code and API key work fine when not going through the firewall.

[2021-02-03 02:26] gavinr opened #69 "Better-document new vector basemap names"
https://github.com/Esri/esri-leaflet/issues/1259#issuecomment-772154643

[2021-02-03 02:28] gavinr commented on #57
Vector tile support is now here in v3.0.0 - see the [README](https://github.com/Esri/esri-leaflet-vector#esri-leaflet-vector-tile-plugin) for some sample code or the tutorial [here](https://developers.arcgis.com/esri-leaflet/maps/display-a-map/).

[2021-02-03 02:28] #57 closed

[2021-02-03 02:29] #66 closed

[2021-02-03 02:30] jag-eagle-technology opened #71 "Sources with layers without layout property cannot be added to a map (e.g. Esri World Contour Service)"
resolved by #70

[2021-02-03 02:31] gavinr commented on #60
Hi, please see the README files in https://github.com/Esri/esri-leaflet-geocoder and https://github.com/Esri/esri-leaflet-vector. Let us know if you more specific questions.

[2021-02-03 02:31] #60 closed

[2021-02-03 02:51] jag-eagle-technology opened #72 "Sources other than 'esri' not supported when loading from item id"
The code within the utils.js function loadStyleFromItem, line 59 looks for the source named 'esri', but does not look for any other services (unless error is true). The World Contours service, id 51ca3ce6a16d4080ad955dacd6dd2fe2, only has the source name 'contours', and thus cannot be added as a vector tile layer by id.

[2021-02-03 16:07] jwasilgeo commented on #71
Thank you for your help and contribution @jag-eagle-technology.

https://github.com/Esri/esri-leaflet-vector/blob/master/CHANGELOG.md#upcoming-changes

[2021-02-03 16:07] #71 closed

[2021-02-03 16:09] jwasilgeo commented on #59
@Mak-NOAA can you please give this a try again with the new v3 version of this library?

https://github.com/Esri/esri-leaflet-vector#lesrivectorvectortilelayer

[2021-02-03 16:12] jwasilgeo commented on #58
@kragoth can you re-evaluate this issue with the new v3 version of this library. We now define it like this:

https://github.com/Esri/esri-leaflet-vector/blob/v3.0.0/package.json#L13

[2021-02-03 16:17] jwasilgeo commented on #52
@kjones09 can you try this out again and let us know if you're seeing these visual errors with the new v3 release of this library?

Depending on how your layers were wired up originally, you would have to re-write them to use one of these 2 flavors:

https://github.com/Esri/esri-leaflet-vector#api-reference

[2021-02-03 19:27] jag-eagle-technology commented on #72
Yup, now that #71 is resolved

[2021-02-12 04:52] gavinr opened #73 "Vector Basemap with wrong height (too short) on refresh in Chrome"
On this demo app: https://esri-leaflet-svelte-demo.gavinr.com ([code](https://github.com/gavinr/esri-leaflet-svelte-demo))

If you load the page, then click "refresh" on a Chromium-powered browser (Chrome, Edge, etc), you will often get something that looks like this:

![image](https://user-images.githubusercontent.com/209355/107731370-be425800-6ced-11eb-8759-3ef2de70a7dd.png)

It looks like the `

[2021-02-13 22:37] TheRoam opened #76 "Error: missing required property "version" "sources" and "layers""
I was moving from "L.esri.basemapLayer" to "L.esri.Vector.vectorBasemapLayer" and I'm getting the error in the title (attached console output)

I can't seem to find any of these properties in the documentation or seen anyone raise any issues about this. Could anyone point out what I'm missing?

I'm using leaflet.js 1.7.1, esri-leaflet.js 2.5.0, and esri-leaflet-vector 3.0.0

Thanks in advance
![Ca

[2021-02-14 13:45] jwasilgeo commented on #76
Can you share with us which basemap layer you are using and a live demo of the problem? These properties have to do with the mapbox-gl-js style spec and it may be that they are missing or appear elsewhere than expected in the data.

[2021-02-17 19:28] dexterslu opened #77 "Dependencies / Running Locally - Cannot read property 'vectorBasemapLayer' of undefined"
Downloaded the package and attempted to run it locally, was met with a Cannot read property 'vectorBasemapLayer' of undefined error - are there any dependencies this requires to run without using a CDN?
![image](https://user-images.githubusercontent.com/3484455/108257028-3d8bbd80-712c-11eb-8e68-5d565bb5f072.png)

[2021-02-17 19:55] dexterslu commented on #77
User error here, downloaded the package from the [latest release ](https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.0.0) integrated and it's now working!

[2021-02-17 19:55] #77 closed

[2021-03-30 19:55] jwasilgeo commented on #76
@TheRoam I think you may need esri-leaflet version 3, rather than 2.5.0.  Closing due to inactivity for now, but feel free to reopen if that doesn't help.

[2021-03-30 19:55] #76 closed

[2021-03-30 20:06] jwasilgeo commented on #61
@pluservice thanks for the info, you're right about that. `esri-leaflet-vector` v3 uses `mapbox-gl-js` v1 internally and will continue to be a viable and recommended way to render vector tile basemaps and layers in Leaflet + esri-leaflet projects.

For those still looking for more info on the changes introduced earlier this year, we just refreshed the docs pages and changelogs to reflect what's ne

[2021-03-30 20:06] #61 closed

[2021-03-30 20:09] jwasilgeo commented on #59
@Mak-NOAA, we just refreshed the docs pages and changelogs to reflect what's new at esri-leaflet v3. I'll close this for now but feel free to reopen if something still isn't quite right.

Live examples and API docs:

- https://esri.github.io/esri-leaflet

Related repo changelogs:

- https://github.com/Esri/esri-leaflet/blob/master/CHANGELOG.md
- https://github.com/Esri/esri-leaflet-geocoder/blob/m

[2021-03-30 20:09] #59 closed

[2021-03-30 20:11] jwasilgeo commented on #58
@kragoth we just refreshed the docs pages and changelogs to reflect what's new at esri-leaflet and esri-leaflet-vector v3. I'll close for now due to inactivity but feel free to reopen if still encountering issues, particularly at the newer library versions. Thanks.

Live examples and API docs:

- https://esri.github.io/esri-leaflet

Related repo changelogs:

- https://github.com/Esri/esri-leaflet/

[2021-03-30 20:11] #58 closed

[2021-03-30 20:11] jwasilgeo commented on #68
@abdulk1 can you provide more info please? Some examples or reproduction steps to help us better understand what might be going on here?

[2021-03-30 20:13] jwasilgeo commented on #55
Hi @siyawandisa and @yjaffrain, we just refreshed the docs pages and changelogs to reflect what's new at esri-leaflet and esri-leaflet-vector v3. I'll close this due with the hope that this won't be an issue anymore with the latest library versions, but let us know if there are still problems for you. Thanks.

Live examples and API docs:

- https://esri.github.io/esri-leaflet

Related repo changel

[2021-03-30 20:13] #55 closed

[2021-03-30 20:17] jwasilgeo commented on #53
Hi @pluservice, we just refreshed the docs pages and changelogs to reflect what's new at esri-leaflet and esri-leaflet-vector v3. I'll close this with the hope that it won't be an issue anymore with the latest library versions, but do let us know if there are still problems for you.

Live examples and API docs:

- https://esri.github.io/esri-leaflet

Related repo changelogs:

- https://github.com/

[2021-03-30 20:17] #53 closed

[2021-03-30 20:23] jwasilgeo commented on #54
@rew-ron we apologize that this issue from 2019 wasn't addressed earlier! 😮

Since then we have made a few major updates to this library. If you are still looking for ways to use vector tile basemaps / layers with Leaflet + esri-leaflet, please note that we just refreshed the docs pages and changelogs to reflect what's new at esri-leaflet and esri-leaflet-vector v3.

More specifically, the API has

[2021-03-30 20:23] #54 closed

[2021-03-30 20:24] jwasilgeo commented on #52
@kjones09, we just refreshed the docs pages and changelogs to reflect what's new at esri-leaflet and esri-leaflet-vector v3. I'll close this with the hope that it won't be an issue anymore with the latest library versions, but do let us know if there are still problems for you.

Live examples and API docs:

- https://esri.github.io/esri-leaflet

Related repo changelogs:

- https://github.com/Esri/

[2021-03-30 20:24] #52 closed

[2021-03-30 20:26] jwasilgeo commented on #27
Closing due to inactivity. Esri-leaflet and esri-leaflet-vector have undergone quite a few changes recently. Please let us know if you're still encountering problems, thanks!

[2021-03-30 20:26] #27 closed

[2021-03-30 20:47] #69 closed

[2021-03-30 22:59] jwasilgeo commented on #58
Great—glad to hear that!

[2021-04-09 22:28] nlopezColliers opened #79 "Blurry vector layers when upgrading to v3"
I have an app built in React 17, and I've recently updated both esri-leaflet and esri-leaflet-vector to version 3.  Both the vectorTileLayer and vectorBasemapLayer load fine, but they are blurry.  The maps are very clear when using the old version.  In the map component of my app, I load mapbox-gl.js (v1), and the latest version of the esri-leaflet and esri-leaflet-vector plugin.  On load, I add t

[2021-04-10 00:58] jwasilgeo commented on #79
@nlopezColliers can you share with us a publicly accessible demo that shows this issue?

Perhaps something like <https://codesandbox.io/s/> since React is involved?

[2021-05-05 08:56] Getiem opened #80 "Esri-leaflet connected to ArcGIS Enterprise - Vector Tile service not working"
I created a vector tile service on my ArcGIS Enterprise 10.7.1 and added it to Esri Leaflet. However, it is not showing any data. It is showing an error on every request with empty JSON.

Uploading the same vectortile package published to ArcGIS Online as service. This service works in Esri-Leaflet.

Can you find what the problem is, and fix it?

Thanks!

[2021-05-10 03:51] slutske22 opened #82 "Update peerDependency esri-leaflet ^2.3.0 to >2.3.0?"
I've got [an issue](https://github.com/slutske22/react-esri-leaflet/issues/3) in my react wrapper for this plugin.  I think the issue is that for any project using this plugin with esri-leaflet v3, esri-leaflet-vector is expecting to find the peerDependency esri-leaflet ^2.3.0 in the parent project.  Now that esri-leaflet is up to v3, shouldn't we change the peerDependency of this package from `^2

[2021-05-10 18:06] gavinr commented on #82
I have not noticed any issues myself. If possible, do you have replication steps that would show the issue?

[2021-05-10 20:00] slutske22 commented on #82
I created a blank folder, cd into that folder, and initialize an npm package with npm init -y. Then install `npm i leaflet esri-leaflet`. After that, I `npm i esri-leaflet-vector`. I get some peerDependency warnings:

<img width="1050" alt="Screen Shot 2021-05-10 at 12 50 55 PM" src="https://user-images.githubusercontent.com/52637023/117717309-81241f80-b18f-11eb-906b-6c0097aa4b53.png">

I guess it

[2021-05-10 23:51] javalonde commented on #76
[](url)Hi @jwasilgeo

I am struggling with a similar problem.
I'm using leaflet.js 1.7.1, esri-leaflet.js 3.0.1, and esri-leaflet-vector 3.0.0

`<html>
<head>
  <meta charset="utf-8" />
  <title>Esri Leaflet Custom Vector Tile Layer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

[2021-05-11 13:39] jwasilgeo commented on #76
@javalonde I believe the issue in your comment relates to #28 and #80.

[2021-05-11 19:23] jwasilgeo opened #84 "`apikey` casing"
Currently this plugin requires [the option `apiKey` to be in camel case](https://github.com/Esri/esri-leaflet-vector#api-reference), but the rest of esri-leaflet's ecosystem relies on all lowercase `apikey`.

We should change this plugin to allow for either `apiKey` (to avoid introducing breaking changes) or `apikey` usage, while also encouraging the use of the all lowercase style in this repo's R

[2021-05-13 13:52] javalonde opened #86 "Vector tiles are showing in the wrong place and in the wrong scale"
Hi Everyone!

Where should I start looking for an error if after adding a layer

`L.esri.Vector.vectorTileLayer("https://MY_ARCGIS/rest/services/Norway/VectorTileServer").addTo(map);`

I'm using esri-leaflet@3.0.0 and leaflet 1.7.1

it is shown in the wrong place and in the wrong scale?

![image](https://user-images.githubusercontent.com/44463908/118135295-23980900-b403-11eb-871e-b95762f78e5a.png)

[2021-05-13 14:37] jwasilgeo commented on #86
@javalonde can you please share with us a public, live demo of this problem? (codepen, jsbin, code sandbox, etc.)

[2021-05-13 17:41] javalonde commented on #86
Yes, tiles should be shown on Norway:

https://codepen.io/javalonde/pen/mdWPeoQ

[2021-05-13 18:57] jwasilgeo commented on #86
It appears that your layer is in a spatial reference with a `wkid` of 25833, which I sense is the cause of the behavior.

https://services.geodataonline.no/arcgis/rest/services/GeocacheVector/GeocacheBasis/VectorTileServer?f=pjson

I've not tried this myself before with a VectorTileLayer, but can you look into using something like <https://github.com/kartena/Proj4Leaflet>?

We have a couple of `es

[2021-05-13 21:34] javalonde commented on #86
Thanks, I suspected a different projection might be the cause, but didn't know where to check it.

I added a proper csr to the map but unfortunately it doesn't work properly. Maybe array resolutions is not correct (found via google). Can you take a look ?

https://codepen.io/javalonde/pen/mdWPeoQ

I suppose it might be hard to sort it out like this, but I hope it's possible. I will also look at th

[2021-05-14 12:04] javalonde commented on #86
..and one more new example where it was used VectorTileServer
with:
{"wkid":102100,"latestWkid":3857}

https://codepen.io/javalonde/pen/bGqpLyM

[2021-05-14 15:25] jwasilgeo commented on #86
Bardzo interesujące...

I can sometimes find Norway in either of your LeafletJS codepens when I zoom out (thanks again for making those), but it is never in the right spot, regardless of the projection.

And yet, when I use either of your VectorTileServers in the ArcGIS API for Javascript ([live demo here](https://developers.arcgis.com/javascript/latest/sample-code/layers-vectortilelayer/)) they s

[2021-05-17 07:46] Getiem commented on #86
I have the same problem with 28992 projection vector tiles. Even if i set all resolutions correct (copy the full array of values from the rest service json).

[2021-05-20 14:36] rvschouwen commented on #80
It seems there is a difference in default behavior between ArcGIS Online and ArcGIS Enterprise. The used code results in two requests to the VectorTIleServer, the first one being:
`https://tiles.arcgis.com/tiles/<ID>/arcgis/rest/services/Basemap_WGS84/VectorTileServer?token=<TOKEN>&f=json`
for ArcGIS Online, and:
`https://<arcgisenterpriseserver>/arcgishosted/rest/services/Hosted/Outdoor_basemap/V

[2021-05-20 15:47] jwasilgeo opened #88 "Additional support for VTLs and styles hosted on ArcGIS Enterprise"
Add a `portalUrl` optional parameter to the [`L.esri.Vector.vectorTileLayer`](https://github.com/Esri/esri-leaflet-vector#lesrivectorvectortilelayer) layer type, intended to be used with the "ITEM_ID" constructor flavor.

[code]

Review internal `Util.js` usage here:

- https://github.com/Esri/esri-leaflet-vector/blob/master/src/Util.js#L40
- https://github.com/Esri/esri-leaflet-vector/blob/master

[2021-05-24 09:18] javalonde commented on #86
I experimented by adding `crs: 'EPSG: 4326'`
but with no positive effect.
![image](https://user-images.githubusercontent.com/44463908/119325850-9ca82380-bc81-11eb-98d5-ce7ae19596c4.png)

[2021-05-27 12:42] javalonde commented on #86
Hi, I mentioned the problem on the stackoverflow and got this answer, can this help?

https://stackoverflow.com/questions/67704695/vector-tiles-are-showing-in-the-wrong-place-and-in-the-wrong-scale-in-esri-leafl

I tried to overwrite `metadata.tileInfo.lods`
by values from

https://vectortileservices3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Santa_Monica_Mountains_Parcels_VTL/VectorTileSer

[2021-05-27 13:14] Getiem commented on #86
Did you try creating a CRS object with your vectortile service CRS?

I tried it with my own CRS (28992), but ran into the problem of the ArcGIS Enterprise connection (see other issue). Did not yet try this with a 28992 service at arcgis online. Maybe you can be succesfull with it:

Sample CRS i tried with:
`var RD = new L.Proj.CRS( 'EPSG:28992','+proj=sterea +lat_0=52.15616055555555 +lon_0=5.38763

[2021-06-01 20:00] jwasilgeo commented on #86
Cześć @javalonde, I double-checked and it turns out this can only support the Web Mercator projection, since itself it [relies directly upon `mapbox-gl-js v1`](https://github.com/Esri/esri-leaflet-vector#dependencies).

https://docs.mapbox.com/help/glossary/projection/

That would also help explain why we saw it work with your Norway projection in the ArcGIS API for JavaScript but not with `Leafle

[2021-06-01 21:17] #84 closed

[2021-06-03 15:51] #72 closed

[2021-06-03 16:10] gavinr commented on #72
This should be resolved in #91 - after the next release this should be fixed.

[2021-06-03 17:11] jwasilgeo commented on #71
available on https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.0.1

[2021-06-03 17:12] jwasilgeo commented on #72
available on https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.0.1

[2021-06-03 17:12] jwasilgeo commented on #84
available on available on https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.0.1

[2021-06-03 19:59] javalonde commented on #86
Dziękuję ! Thanks for help.

[2021-06-14 13:52] parksconservancy opened #93 "Replacing Existing Vector Tile Service Doesn't Display"
Hello-

I'm simply trying to replace a draft version of a vector tile with a final version. Different service end points and no mods to code whatsoever. Settings are identical in each service, but the updated service won't display.

**Draft version I'm trying to replace, this one works:**

https://tiles.arcgis.com/tiles/tdQLEzq0fgVElWN3/arcgis/rest/services/Draft_Lifeform_Vector_Tile_Pack...

**Fi

[2021-06-14 17:16] jwasilgeo commented on #93
Do you have publicly available (without logins) versions of the 2 vector tile layers in question? My hands tied unfortunately without being able to inspect the service info myself.

[2021-06-14 17:50] parksconservancy commented on #93
existing:

https://tiles.arcgis.com/tiles/tdQLEzq0fgVElWN3/arcgis/rest/services/Draft_Lifeform_Vector_Tile_Package_12_20_19/VectorTileServer

replacement:

https://tiles.arcgis.com/tiles/tdQLEzq0fgVElWN3/arcgis/rest/services/Marin_County_Lifeform_Map_FINAL/VectorTileServer

[2021-06-14 18:04] jwasilgeo commented on #93
Non Web Mercator projections [aren't guaranteed to work](https://github.com/Esri/esri-leaflet-vector/issues/86#issuecomment-852408185). I saw this in the 2nd service's info:
[code]

Can you get that reprojected to wkid 10200, like the 1st service?

[2021-06-14 18:23] parksconservancy commented on #93
Ah yes, thank you for catching. Will test.

[2021-06-14 20:27] parksconservancy commented on #93
That did the trick. Thanks for catching. Will note for next time.

[2021-06-14 20:50] #93 closed

[2021-06-14 21:23] gavinr opened #94 "Document web mercator requirement"
As mentioned, we should document this: https://github.com/Esri/esri-leaflet-vector/issues/86#issuecomment-852408185

Also, since it's [tripping other up](https://github.com/Esri/esri-leaflet-vector/issues/93#issuecomment-860883132), we should add a `console.error()` (or `console.warn()`?) message to show when not using web mercator

[2021-06-17 15:38] jwasilgeo commented on #94
@gavinr @patrickarlt to catch this one and put in a warning for `L.esri.Vector.vectorTileLayer` [right about at this spot](https://github.com/Esri/esri-leaflet-vector/blob/master/src/VectorTileLayer.js#L59), which of these `spatialReference.wkid` properties do we want to rely upon?

- `service.initialExtent.spatialReference.wkid`
- `service.fullExtent.spatialReference.wkid`
- `service.tileInfo.spa

[2021-06-17 18:41] gavinr commented on #94
My vote would be `service.tileInfo.spatialReference.wkid`

[2021-06-18 20:19] #94 closed

[2021-07-20 16:42] jwasilgeo commented on #88
in progress in branch [88-enterprise-support](https://github.com/Esri/esri-leaflet-vector/tree/88-enterprise-support)

[2021-07-20 18:12] jwasilgeo commented on #79
Closing due to inactivity. Feel free to reopen if you are still seeing this issue and we can help take a look at a demo.

[2021-07-20 18:12] #79 closed

[2021-07-20 18:14] jwasilgeo commented on #68
Closing due to inactivity. Feel free to reopen if you are still seeing this issue and we can help take a look at a demo.

[2021-07-20 18:14] #68 closed

[2021-07-23 17:52] jwasilgeo opened #96 "More friendly URL structures and style formatting assumptions"
Recently when testing the `L.esri.Vector.vectorTileLayer` with a custom Koop VectorTileServer, I noticed the following errors coming from the `Util.js` helper functions, which made it impossible to successfully communicate with and render a layer:

- [x] 1. Sometimes VectorTileServer properties about related URLs include "/" at the beginning, for example:
    `defaultStyles: "/resources/styles"`

[2021-07-26 19:11] #88 closed

[2021-07-26 19:17] jwasilgeo commented on #80
We hope to have this issue fixed when we release a new version of this library, [following the current v3.0.1](https://github.com/esri/esri-leaflet-vector/compare/v3.0.1...HEAD).

[2021-07-26 19:18] jwasilgeo commented on #28
We hope to add support for this when we release a new version of this library, [following the current v3.0.1](https://github.com/esri/esri-leaflet-vector/compare/v3.0.1...HEAD).

[2021-07-27 19:16] dandormont opened #98 "tiledMapLayer doesn't show when vectorBasemapLayer is in use"
Hi,
I have a feature layer in ArcGIS Online which I have published as a Map Service. In Esri Leaflet, the `tiledMapLayer` does not show when I have a vector basemap layer underneath it. I created a Codepen here: https://codepen.io/dandormont-the-decoder/pen/OJmQZZy?editors=100

As you can see, a few features from my tile layer show towards the right side of the map. But if you comment out the L.es

[2021-07-27 20:00] gavinr commented on #82
We are running into a similar issue with `esri-leaflet-geocoder` here: https://github.com/Esri/esri-leaflet-geocoder/issues/272

I plan to change the `peerDependencies` to `"esri-leaflet": ">2.3.0",` like you advise, but similar to the esri-leaflet-geocoder we will also update the dependencies version of `"esri-leaflet": "^3.0.0",`

[2021-07-27 20:59] dandormont commented on #98
Note that I could use a vector tile layer instead, in fact I would prefer to, but I ran into a different bug with vector tile layers. Unfortunately I am so far not able to reproduce that bug using a dataset that I am permitted to share publicly, so I can't open an issue for it here.

[2021-07-27 21:51] slutske22 commented on #82
Well it depends.  Do you expect your users to install it themselves?  Or do you want it to be automatic - i.e., if you install esri-leaflet-geocoder, you get esri-leaflet automatically installed?  My inclination would be to keep it under peerDependencies, considering this is a plugin for esri-leaflet, which itself is a plugin for leaflet.  IMO, people using this (or geocoder) plugin should take ow

[2021-07-28 13:28] jwasilgeo commented on #98
Hi @dandormont, have you looked into changing the `tiledMapLayer`'s `pane` property? I just tried it with (a) the tiled basemap layer and separately (b) the vector basemap layer and I could see and keep the `tiledmapLayer` on top of it.

https://leafletjs.com/reference-1.7.1.html#map-pane

For example:

[code]

I'll close assuming this will work for you for this particular behavior described here.

[2021-07-28 13:28] #98 closed

[2021-08-05 20:31] #82 closed

[2021-08-09 17:02] #96 closed

[2021-08-09 17:38] jwasilgeo opened #101 "Provide API to access underlying data"
We **can** gain access to the underlying data attributes rendered by `mapbox-gl-js`. The purpose of this enhancement is to define the API we create around `L.esri.Vector.vectorTileLayer` to enable it.

For example, here is a rough prototype code snippet of how this actually could work in our `MapBoxGLLayer.js`.

[code]

With that in mind, I'd like help in defining what the API of `L.esri.Vector.ve

[2021-08-09 19:37] jwasilgeo commented on #94
This is available now in the recent [v3.1.0 release](https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.1.0). 🎉

[2021-08-09 19:38] jwasilgeo commented on #86
The documentation for this is available now in the recent [v3.1.0 release](https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.1.0). 🎉

[2021-08-09 19:38] jwasilgeo commented on #88
This is available now in the recent [v3.1.0 release](https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.1.0). 🎉

[2021-08-09 19:38] jwasilgeo commented on #28
This is available now in the recent [v3.1.0 release](https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.1.0). 🎉

[2021-08-09 19:38] jwasilgeo commented on #80
This is available now in the recent [v3.1.0 release](https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.1.0). 🎉

[2021-08-10 00:39] scaddenp commented on #94
There are a lot vector tile layers in another projection that have been published on arconline that I would like to use. Is it a lost cause to be able to use them in leaflet or is it a programming issue that just needs somebody to work on it?

[2021-08-10 14:55] jwasilgeo commented on #94
@scaddenp a good explanation for this limitation is described here: https://github.com/Esri/esri-leaflet-vector/issues/86#issuecomment-852408185

For now we have to wait and hope for `mapbox-gl-js v1` (or `maplibre-gl-js`) to add this functionality.

[2021-08-10 20:42] scaddenp commented on #94
Hmm, this is complicated by the whole "make mapbox work in non-mercator tiles" which is a larger problem than rendering a non-mercator VectorTileService. I think I need a deep dive into code at some point. Support for the ESRI tiling schemes already exists in the leaflet code - in image tile services. A native renderer for pbf looks to be the crux.

[2021-08-11 14:34] #28 closed

[2021-08-11 14:35] #86 closed

[2021-08-11 14:35] #80 closed

[2021-09-14 18:23] gavinr commented on #73
I found a workaround, closing for now - if anyone else sees similar issue, please comment or create a new issue. Thanks!

[2021-09-14 18:23] #73 closed

[2021-10-05 17:14] Crsms opened #102 "Errors with mapbox GL"
Tried to use.  I have an API key.  But, keep getting errors...

Error: missing required property "version"
    at Object.Dr [as emitValidationErrors] (mapbox-gl.js:31)
    at hr (mapbox-gl.js:35)
    at gr._load (mapbox-gl.js:35)
    at mapbox-gl.js:35
    at mapbox-gl.js:31

Error: missing required property "sources"
    at Object.Dr [as emitValidationErrors] (mapbox-gl.js:31)
    at hr (mapbox-g

[2021-10-12 12:06] mariocasciaro opened #103 "Basemap not moving when dragging with the mouse"
I'm embedding an `esri-leaflet` in an Angularjs application. I recently upgraded to `esri-leaflet` v3 (from v2) and to using  the `vectorBasemapLayer` object for basemaps. However, when dragging the map using the mouse, the basemap wouldn't move. If there are other layers on the map, such as markers, they would move. The attribution text at the bottom of the map also gets updated correctly.
If I d

[2021-10-12 12:11] mariocasciaro opened #104 "'load' and 'loading' events not firing on vectorBasemapLayer"
With `L.esri.basemapLayer` it's currently possible to get notified when all tiles are finished loading by listening to the 'load' event. Similarly, when tiles start loading, the 'loading' event is fired.
Those events are not fired when using `L.esri.Vector.vectorBasemapLayer`. Is there any plan to add those events?

[2021-10-12 12:57] gavinr commented on #103
Hi, thank you for the report. Are you able to share a replication case (using something like https://codesandbox.io for example)?

[2021-11-02 19:57] krdyke commented on #103
Chiming in that I've encountered the same issue, although I'm using React v17.0.2 rather than Angular.

[2021-11-02 21:29] krdyke commented on #103
also fwiw there's [an issue](https://github.com/mapbox/mapbox-gl-leaflet/issues/145) for mapbox-gl-leaflet that shows similar behavior.

[2021-11-03 12:44] jwasilgeo commented on #103
That’s a very helpful find, thank you @krdyke!

We will look into this and consider what to potentially do about version numbers soon.

[2021-11-08 15:54] jwasilgeo commented on #101
This is a good starting place for what works today, as an example of what a developer can do today in their own consumer code to gain access to the mapbox-gl-js instance and call other methods, such as `queryRenderedFeatures`.

Ideally we'd still find a middle path where a consumer-dev would just wire up a simple `click` handler (or `mousemove`, or other documented user interactions available in L

[2021-11-09 14:16] eric-burel opened #106 "Cannot be loaded in Jest / JSDOM due to side-effect"
Hi,
I have small issue when importing a component that uses this package. It seems to call `window.URL.createObjectURL` as soon as you import the package (even before using it), but this function doesn't exist in JSDOM. Do you think this kind of side-effect could be avoided?

[2021-11-09 19:43] jwasilgeo commented on #106
@eric-burel can you provide some more info please? Perhaps some of the error logs you're seeing? What files (and line numbers?) you can tell are involved?

[2021-11-09 20:26] jwasilgeo commented on #103
Fixed via https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.1.1

[2021-11-09 20:26] #103 closed

[2021-12-23 20:27] javalonde opened #107 "Layer invisible since zoom level 17"
Hi

I do not know if this is a bug, but the data source (VectorTiles) is displayed right to the zoom level = 17, not above, and it should be for 0-22.  Please help.

https://codepen.io/javalonde/pen/bGqpLyM

Regards,  Mik.

[2021-12-28 19:48] jwasilgeo commented on #107
When I remove (comment out) the line that uses a legacy tiled Esri basemap (`L.esri.basemapLayer...`) I get an unconstrained `maxZoom` on the Leaflet map. Then, watching the network traffic, I see 404 errors for network requests that try to load tiles for zoom levels around 17 and above.

Are you certain this server has valid tiles for those zoom levels, despite that the service's LODs are listed

[2022-01-02 07:47] nvx opened #108 "Support maxNativeZoom"
Most layers in leaflet support setting maxNativeZoom to allow combining layers that have different maximum zoom levels in the one map. It looks like the L.esri.Vector.vectorTileLayer layer unfortunately doesn't support this option though.

[2022-01-04 16:22] jwasilgeo commented on #108
Support for `maxNativeZoom` in the main `esri-leaflet` project was added in pull request https://github.com/Esri/esri-leaflet/pull/904, specifically for the [`L.esri.TiledMapLayer`](https://esri.github.io/esri-leaflet/api-reference/layers/tiled-map-layer.html) which extends from `L.TiledLayer`, which itself extends from `L.GridLayer` which has the [`maxNativeZoom` option](https://leafletjs.com/ref

[2022-01-05 02:42] nvx commented on #108
I'd tried this already and unfortunately no dice.

What did seem to work though was overriding the request function to intercept the XHR to load the /VectorTileServer?f=json url and truncating the returned json response.tileInfo.lods down. Obviously monkeypatching the request like I resorted to is a bit iffie, but I imaging doing the same logic as it loads the metadata would be fairly straightforw

[2022-01-11 19:14] jwasilgeo commented on #108
@nvx can you give us a public jsbin/codepen/etc. to look at this? Can you tell us more about the `maxzoom` style spec and your comment?

[2022-01-27 02:34] smartcmsteam opened #113 "Change Language"
### Describe the problem

Hello,

I don't see any where to change the language in the map. How can I set it to German?

Thanks

### Describe the proposed solution

Add a parameter to URL

### Alternatives considered

_No response_

### Additional Information

_No response_

[2022-01-27 14:43] gavinr commented on #113
Hi, thanks for the question. We're assuming you're asking about seeing German for the basemap labels.

1. Find the group for your language from [this blog post](https://www.esri.com/arcgis-blog/products/arcgis-online/announcements/whats-new-in-esri-vector-basemaps-may-2019/). (For German, the group is [here](https://www.arcgis.com/home/group.html?id=00c428a3eb7448f8ade9791f017f0fff#overview))
3. B

[2022-01-27 14:43] #113 closed

[2022-01-28 07:04] smartcmsteam commented on #113
thank you, it works!

[2022-02-03 03:03] tobwen opened #136 "Esri Attribution not removed when layer is removed"
### Describe the bug
When displaying an ESRI Leaflet *Vector* layers, `map.attributionControl._esriAttributionLayerCount` always gets increased by 1, but it never gets decreased. This has the side-effect that the dynamic attribution doesn't disappear when there's no ESRI layer visible at all (and might lead to an overflow when a user or a script hits MAX_INTEGER).

### Reproduction
https://jsbin.c

[2022-02-03 03:26] tobwen opened #117 "map.attributionControl._esriAttributionLayerCount never gets reset"
This links to an issue, which occurs on vector layers only, but the attribution code is in the core library.

https://github.com/Esri/esri-leaflet-vector/issues/136

[2022-02-11 03:28] amaechler commented on #106
This is due to the Mapbox GL JS bundle and has been fixed in their latest release v2.7.0 (with  https://github.com/mapbox/mapbox-gl-js/pull/11370).

[2022-02-11 15:25] jwasilgeo commented on #106
Thanks for finding and sharing that @amaechler. This library will have to remain at mapbox-gl-js v1, however. Is there any indication they'll make the change as well back in their v1?

(As a side note, we have also considered changing our dependency over to maplibre-gl-js, but do not have any concrete roadmap plans to evaluate it further yet.)

[2022-02-11 15:45] amaechler commented on #106
That I do not know. There seem to be backports of fixes from time to time though, so it might be possible.

[2022-02-11 16:57] jwasilgeo commented on #106
Thanks! We can leave this here for now and monitor over time.

[2022-02-17 17:00] gavinr opened #120 "WebGL Contexts limits"
- Modern web browsers currently have a maximum limit of 16 WebGL contexts in a page.
- For each layer that is created, Esri Leaflet Vector creates a new instance of Mapbox GL JS, and thus a new WebGL context.

Due to the above two facts, right now there is a limitation that no more that 16 Esri Leaflet Vector layers can be added on a page at one time.

## Demo case: 17 vector layers in a single ma

[2022-02-24 15:40] gavinr opened #121 "Text labels not showing for certain vector tile layers"
## Issue summary

When using Esri Leaflet Vector to add vector tile basemap layers in other languages, on some langauges (like Arabic) the text labels do not show on in the layer.

## Italian is working:

See web map [4d1c336e57504552a04552600122f96a](https://www.arcgis.com/home/item.html?id=4d1c336e57504552a04552600122f96a):

- See how the font is loaded correctly on ArcGIS Online: https://www.ar

[2022-02-24 19:33] jwasilgeo commented on #121
We indeed manipulate the `text-font` here in the source `Util` helper function: https://github.com/Esri/esri-leaflet-vector/blob/v3.1.1/src/Util.js#L161-L171

Which is used by the `L.esri.Vector.vectorTileLayer` here: https://github.com/Esri/esri-leaflet-vector/blob/v3.1.1/src/VectorTileLayer.js#L72

The mapbox style spec says it can be an array of strings: https://docs.mapbox.com/mapbox-gl-js/sty

[2022-02-28 16:53] peanutman0 opened #129 "New Vector Basemaps show all USGS benchmarks at Zoom level 12"

[2022-04-27 14:08] tripler opened #125 "vectorBasemapLayer misalignment when zoom out to level 0 or 1"
The vector basemap layer can become misaligned with the map when the zoom level is changed or when the basemap layer is first loaded before the map has been interacted with.

The easiest way to see a reproduction is via the "Simple DynamicMapLayer" example:
https://esri.github.io/esri-leaflet/examples/simple-dynamic-map-layer.html

Simply zoom out to zoom level 1 or 0 and you will see the base lay

[2022-04-28 14:38] gavinr commented on #125
Thank you for reporting this issue. To summarize the replication case:

1. Browse to https://developers.arcgis.com/esri-leaflet/samples/simple-dynamic-map-layer/ in any browser
2. Click the "zoom out" button the maximum number of times (~3 times)
    - Expected: map layer hovering in "same place" as original compared to basemap
    - Actual: map layer is hovering offset/incorrect compared to the b

[2022-05-17 12:01] Celtian opened #128 "Angular or another SPA example for Codesandbox or Stackblitz"
Hello,

can you please add into readme some examples for SPA (Angular, React, ...) application in Codesandbox or Stackblitz (or both). In my opinion, it should be part of readme of all npm libs where is it possible. Example + text coverage badge is for me sign of quallity of package.

[2022-05-17 19:57] gavinr commented on #129
Thank you for the report.

Here is the replication case in JSBin: https://jsbin.com/vohojipuki/2/edit?html,output
- Actual: way too man elevation points are visible on the map
    ![image](https://user-images.githubusercontent.com/209355/168899091-5e69979e-fd1a-4034-8cd1-10da9ebd3062.png)

- Expected: few elevation points, like https://www.arcgis.com/home/webmap/viewer.html?layers=7dc6cea0b1764a1f

[2022-05-17 20:01] gavinr commented on #128
Hi, Esri Leaflet Vector is not framework-specific, so there's nothing unique you need to do to run it using a particular framework.

- Here is a React demo: https://github.com/gavinr/esri-leaflet-react-demo
- Here is a svelte demo: https://github.com/gavinr/esri-leaflet-svelte-demo
- Here is a React wrapper that may help you out: https://github.com/slutske22/react-esri-leaflet
- Here are tutorials

[2022-05-17 20:01] #128 closed

[2022-05-23 14:36] #125 closed

[2022-06-09 11:51] axelio commented on #86
cześć @jwasilgeo

Since https://github.com/mapbox/mapbox-gl-js/issues/3184 is done now, do you know how can one use vector maps in non-mercator projection?
This the same scenario as @jwasilgeo had - Norwegian ArcGIS maps. Problem appears on close zoom & map panning, seems something with the styling does not work correctly.

Find below the code sample based on starting example and https://esri.gith

[2022-06-11 05:03] BBudnicki opened #130 "Does the world have edges? Yes! Spacetime is twisted there."
Error looks like it is related to #125

The markers displayed over an Esri vector basemap become misaligned while zooming. The markers shift relative to the map. This happens only when the map extent goes beyond +- 90 degrees latitude from the zoomed out state when zooming in. When zooming is completed, they shift back to the correct latitude & longitude. It can be reproduced at any zoom level as

[2022-06-20 09:22] Celtian opened #131 "Compatibility with leaflet.markercluster"
Hello,

Your library is not obviously compatible with

https://www.npmjs.com/package/leaflet.markercluster

It is caused by "Map has no maxZoom specified" (probaly "maxNativeZoom" need to be renamed "maxZoom ") ...

Can you fix it or publish related example?

[2022-06-20 14:09] gavinr commented on #131
Hi, have you tried https://github.com/Esri/esri-leaflet-cluster?

[2022-06-20 16:39] Celtian commented on #131
Does it work also with another sources? Not just esri ...

[2022-06-20 16:41] gavinr commented on #131
Oh, I think I'm now understanding you: Are you saying that when using the `esri-leaflet-vector` layer AND `leaflet.markercluster` on the same leaflet map, you get an error?

[2022-06-20 16:45] Celtian commented on #131
We are using also layers from different prividers like `mapy.cz` or `here.maps` or `mapbox` or ... is it compatible or it is onlz working with leaflet. For us is useless to use clustering only for esri layers but not for anothe ones ...

[2022-06-20 16:51] gavinr commented on #131
Sorry, I'm a bit confused by your question. And I don't think you answered my question: Are you saying that when using the `esri-leaflet-vector` layer AND `leaflet.markercluster` on the same leaflet map, you get an error?

If you are seeing a specific issues with `esri-leaflet-vector`, please post a replication case showing the issue.

[2022-06-20 17:56] gavinr commented on #131
Ok, can you please post a public replication case (perhaps using a service like CodePen or JSBin) that shows the issue?

[2022-07-05 11:42] ItaiEinhorn opened #133 "'Powered by Esri' missing in map attribution"
### Describe the bug

Other Esri leaflet map layers support the 'Powered by Esri' attribution
`onAdd: function (map) {
    // include 'Powered by Esri' in map attribution
    setEsriAttribution(map);
...`
Vector layers does not support this behavior

Requesting to add the 'setEsriAttribution' call to the 'onAdd' function in the vector layers

### Reproduction

Tiled map layer:
![image](https://use

[2022-07-06 14:05] ItaiEinhorn commented on #133
@gavinr Thanks for the response
I took the source code from the same page in your screenshot, the only change:
[code]

This map doesn't show the 'Powered by Esri'

![image](https://user-images.githubusercontent.com/66256027/177569197-c8309929-1ae1-43c7-89a6-af19052801c4.png)

[2022-07-06 16:41] gavinr commented on #133
Are you able to use this?

[code]

That way includes the "Powered by Esri".

[2022-07-06 20:14] gavinr opened #134 ""Outdoor Map" vector tile layer - not working"
### Describe the bug

I am trying to load the new "Outdoor Map" vector tile layer using Esri Leaflet Vector: https://www.arcgis.com/home/item.html?id=659e7c1b1e374f6c8a89eefe17b23380 (mentioned [here](https://www.esri.com/arcgis-blog/products/arcgis-living-atlas/announcements/whats-new-in-esri-vector-basemaps-july-2022/))

### Reproduction

https://jsbin.com/yicugaqodu/1/edit?html,output

[code]

[2022-07-07 08:09] ItaiEinhorn commented on #133
@gavinr Unfortunately i can't, In my use case the basemaps are fetched dynamically from the user's gallery

[2022-07-07 17:58] gavinr commented on #133
In that case, you can pass the `attribution` parameter, like this:

[code]

[2022-07-10 14:24] ItaiEinhorn commented on #133
@gavinr That's a nice workaround,
However, this way we'll lose the current attribution. I was expecting from esri-leaflet-vector library to add the 'Powered by Esri' the same way it does with named basemaps, am i missing something?

[2022-07-11 20:54] gavinr commented on #133
If you add a vector tile layer via an item ID generally, it should not necessarily add 'Powered by Esri'. In your case you are adding a vector tile layer via an item ID that happens to be one of the Esri basemap layers.  I'm not quite sure if we should or can handle that situation.

Right now it does correctly add the "accessInformation" from the item info:
https://prof-services.maps.arcgis.com/sh

[2022-07-12 08:06] ItaiEinhorn commented on #133
@gavinr Why is this different from other layers? for example: RasterLayer has the 'setEsriAttribution' call in the 'onAdd' event (same with other layers in that library) but for VectorBasemapLayer it calls 'setEsriAttribution' only on '_setupAttribution' callback only if id isn't 32 characters.
This is inconsistent and confusing behavior.
If you don't necessarily add 'Powered by Esri' in esri-leaf

[2022-07-12 19:46] gavinr commented on #133
Thanks for the input @ItaiEinhorn. I think you're right - every standard Esri Leaflet layer type adds "Powered by Esri" except for this layer in this very specific case ([demo](https://codepen.io/gavinr/full/ZExpKjx)). Given that, I agree with you that this layer should be consistent and add "Powered by Esri" in all use cases.

PRs to update this are welcome!

[2022-07-13 18:06] ksalamy commented on #134
Also experiencing the same issue. Commenting to bump this up in priority. Thanks.

[2022-07-13 19:48] shawnmgoulet commented on #134
@gavinr

Attempting to rule out "Multisource vector map styles" issue, I've referenced the new [World Topographic Map (with Contours and Hillshade)](https://www.arcgis.com/home/item.html?id=18d32a699af64bfba4e78eba5a4dd705#overview) (another multisource map style) and the sample works as expected. If you look at it's [style](https://www.arcgis.com/sharing/rest/content/items/18d32a699af64bfba4e78eb

[2022-07-15 15:43] shawnmgoulet commented on #133
I've submitted a PR referenced above (#135) that seeks to resolve this issue. @ItaiEinhorn @gavinr

[2022-07-15 15:45] gavinr commented on #134
The error is saying that in [the style](https://www.arcgis.com/sharing/rest/content/items/659e7c1b1e374f6c8a89eefe17b23380/resources/styles/root.json?f=pjson), in the layer array, index 268, the `stops` property should not exist in the `layer`:

![image](https://user-images.githubusercontent.com/209355/179257229-7f247ed2-3d47-41ad-a255-594c4b05f428.png)

I am trying to verify that with the [vector

[2022-07-15 15:54] shawnmgoulet commented on #131
@Celtian - want to reach back out again on this. We need a replication case to work from, otherwise, we will need to close this issue as we will not be able to work on it without one. Thanks!

[2022-07-15 17:16] shawnmgoulet commented on #130
Hi @BBudnicki - thanks for reporting this issue.

Could you please put together a reproducible example of this? Either a [codepen](https://codepen.io/pen/), [jsfiddle ](https://jsfiddle.net/) or [codesandbox](https://codesandbox.io/) sample would be sufficient.

We need to have an actual sample that is representing the issue, which we can then work from that.

[2022-07-15 17:48] shawnmgoulet commented on #106
@gavinr can we go ahead and close this for now and re-open if necessary in the future?

[2022-07-15 17:49] shawnmgoulet commented on #104
@mariocasciaro are we clear to close this issue after Jacob's suggestion or do we need to leave it open for further exploration? If so, could you provide additional context? Thanks!

[2022-07-15 17:59] gavinr commented on #117
I moved that issue into this repo, so closing this one in favor of #136

[2022-07-15 17:59] #117 closed

[2022-07-15 18:01] gavinr commented on #136
Thanks for the report. I agree that this is an issue. Here is another similar demo case:

https://jsbin.com/liriren/4/edit?html,output
1. Click "Add basemap"
2. Click "Remove Basemap"
 - Expected: "Powered by esri" attribution is removed
 - Actual: "Powered by esri" attribution is removed
3. Click "Add Vector Tile Basemap"
4. Click "Remove Vector Tile Basemap"
 - Expected: same as above, "Powered

[2022-07-17 07:44] ItaiEinhorn commented on #133
@gavinr @shawnmgoulet Thank you guys,

Any idea when a new version will be published?

[2022-07-18 12:27] mariocasciaro commented on #104
Sure, we can close this for now. I will reopen it if we will encounter any issues with the mapbox-gl events.

[2022-07-18 12:27] #104 closed

[2022-07-22 22:29] arschmitz commented on #131
I can confirm i have successfully been using these together in a large scale production app for quite some time without issue it just needs to be configured correctly

[2022-07-27 13:05] gavinr commented on #134
The Esri Living Atlas team agrees that this is probably an issue with the Outdoor map style JSON. An update that will hopefully fix the issue should be released in ~2 weeks.

[2022-07-29 20:00] BBudnicki commented on #130
Here is a code pen, move the window down without changing the zoom to recreate
[https://codepen.io/bbudnicki/pen/oNqoOge](https://codepen.io/bbudnicki/pen/oNqoOge)

![image](https://user-images.githubusercontent.com/50023776/181834771-acdf7305-8669-4fbe-ace3-bfa674e38428.png)

[2022-08-02 21:25] patrickarlt commented on #130
Notes from an internal meeting on this we should:

* Check if this also on the bottom of the map.
* Check if this also occurs in MapLibre GL Leaflet.
* Check if this occurs on the left/right sides of the map.

[2022-08-02 21:34] patrickarlt opened #139 "Migrate to MapLibre GL JS"
### Describe the problem

There are currently issues like https://github.com/Esri/esri-leaflet-vector/issues/106 and https://github.com/Esri/esri-leaflet-vector/issues/130 which stem from out use of an older version of Mapbox GL JS. These are unlikely to get fixed in mapbox-gl-js.

### Describe the proposed solution

MapLibre is getting more active development now. We should probably switch to [ma

[2022-08-03 19:58] shawnmgoulet commented on #130
Thanks for the codepen @BBudnicki. I've [forked and added markers](https://codepen.io/shawnmgoulet/pen/zYWWBbX) to the bottom and left/right sides of the map.

I can confirm that this also occurs at the bottom of the map.
I can confirm that it does not occur on the left/right sides of the map.

https://user-images.githubusercontent.com/3179974/182697918-05cc3b02-54ed-4d04-8567-cede79228498.mp4

[2022-08-03 20:06] BBudnicki commented on #130
@shawnmgoulet You beat me to a response! Yes, I happens at both the top & the bottom of the map. Max bounds prevents the condition that triggers the bug, but unfortunately max bounds requires you to set both LAT & LON, so it takes away the ability to wrap around +-180 Longitude. Our screen is 7680px wide x 2160, so when zoomed out you can see more than 360 longitude of the map.

[2022-08-11 13:30] gavinr commented on #134
It seems like the style has been fixed and the error is not happening anymore.

https://jsbin.com/yicugaqodu/1/edit?html,output

There seems to be a different error (`error Uncaught TypeError: Failed to construct 'Request': Failed to parse URL from tile/15/11273/16593.pbf `) that does not affect the map opening. I may create this as a separate issue.

[2022-08-11 13:30] #134 closed

[2022-08-12 15:00] gavinr commented on #133
The fix for this (#135) was released in [v3.1.4](https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.1.4).

[2022-08-12 15:00] #133 closed

[2022-08-12 20:10] gavinr commented on #130
I checked if this problem continues to happen when we switch to maplibre-gl-js (#141 ). Unfortunately this issue still happens.

I then checked if this happens for maplibre-gl-leaflet. The same issue happens there. So I've opened a case there: https://github.com/maplibre/maplibre-gl-leaflet/issues/29

[2022-08-13 01:49] BBudnicki commented on #130
I think this bug could be viewed in 2 different ways:
Should they both continue to move or should they both eventually hit a hard stop. Right now the vector tile layer stops while the point layer continues to move. The bug is in the mismatch between them plus some wonkey gitter motion.

I think what @gavinr is suggesting is that they both continue to move. For my specific case I would prefer it st

[2022-08-14 11:11] ItaiEinhorn opened #142 "Vector tile layer attribution issues"
### Describe the bug

1. The same issue with the missing 'Powered by Esri' attribution is occurring in VectorTileLayers
This issue: https://github.com/Esri/esri-leaflet-vector/issues/133
Was fixed here: https://github.com/Esri/esri-leaflet-vector/pull/135
This was fixed on the VectorBasemapLayer entity, i believe the same code should be applied to VectorTileLayer entity as well
see this codepen ex

[2022-08-15 20:10] patrickarlt commented on #130
@BBudnicki you can call `map.setMaxBounds([[-90,-180], [90,180]])` to fix this for now as in the JS Bin https://jsbin.com/yofobup/1/edit?html,output. This allows the map to be panned beyond the edge of the world but then it snaps back to the correct spot.

@gavinr @shawnmgoulet as I said in https://github.com/maplibre/maplibre-gl-leaflet/issues/29#issuecomment-1215735188 we need to decide if we sh

[2022-08-15 21:22] gavinr commented on #142
Thank you for the report.

For your issue 1, I think you're correct - we should make that change.
For your issue 2, I think that's already covered here: #136, correct?

Thanks!

[2022-08-16 08:12] ItaiEinhorn commented on #142
1. Thank you
2. Indeed, 136 seems to cover it

[2022-08-16 23:49] gavinr opened #143 "Attribution for L.esri.Vector.vectorTileLayer"
### Describe the bug

In #133/#135 we fixed the attribution for `L.esri.Vector.vectorBasemapLayer(..)` when an ID is passed. For example:

[code]

We should have also fixed the case for `L.esri.Vector.vectorTileLayer(..)` when an ID is passed. For example:

[code]

See the 5th example here:
![image](https://user-images.githubusercontent.com/209355/185003973-81707dc8-4e8a-4a2f-bc7e-7593ff1207c9.png

[2022-08-16 23:50] gavinr commented on #142
Ok, closing this in favor of #143. Thank you!

[2022-08-16 23:50] #142 closed

[2022-08-19 00:34] patrickarlt commented on #130
@BBudnicki Turns out this is a one line fix:

[code]

@gavinr I opened https://github.com/Esri/esri-leaflet-vector/pull/144 which fixes this but conflicts with your MapLibre PR. We should probably talk about how we want to release that so I'll talk to you tomorrow about it.

[2022-08-23 15:37] gavinr commented on #130
This is resolved in [v3.1.5](https://github.com/Esri/esri-leaflet-vector/releases/tag/v3.1.5).

[2022-08-23 15:50] BBudnicki commented on #130
@gavinr thank you! I will test on my machine

[2022-09-02 17:58] gavinr opened #146 "Error Handling"
### Describe the bug

From @corrigancd in #140:

### Reproduction

tbd ... I'll try to follow up with this, or @corrigancd are you able to provide reproduction steps?

### Logs

_No response_

### System Info

[code]

### Additional Information

From @corrigancd in #140:

Proposed code solution: https://github.com/Esri/esri-leaflet-vector/pull/140/files#diff-d87a7a0181c4fb7f5a10b32e3494597f82c320b

[2022-09-02 18:02] gavinr opened #147 "Error when calling `onRemove` if the creation failed"
### Describe the bug

From @corrigancd in #140:

### Reproduction

tbd ... I'll try to follow up with this, or @corrigancd are you able to provide reproduction steps?

### Logs

[code]

### System Info

[code]

### Additional Information

Proposed solution from @corrigancd in #140: https://github.com/Esri/esri-leaflet-vector/pull/140/files#diff-d87a7a0181c4fb7f5a10b32e3494597f82c320b55306aa848df45

[2022-09-02 18:04] gavinr opened #148 "Custom `baseUrl` and `stylePath` parameters"
### Describe the problem

From @corrigancd in #140:

### Describe the proposed solution

tbd ... I'll try to follow up with this, or @corrigancd are you able to provide reproduction steps?

### Alternatives considered

tbd

### Additional Information

Proposed solution from From @corrigancd in #140: [here](https://github.com/Esri/esri-leaflet-vector/pull/140/files#diff-66fb4bf49f9bbda7e2b3c42d48d3

[2022-09-02 18:41] #139 closed

[2022-09-06 23:46] #131 closed

[2022-09-09 20:30] gavinr opened #150 "Change VectorBasemapLayer to inherit from VectorTileLayer"
### Describe the problem

There is some duplication of code between [VectorBasemapLayer](https://github.com/Esri/esri-leaflet-vector/blob/master/src/VectorBasemapLayer.js) and [VectorTileLayer](https://github.com/Esri/esri-leaflet-vector/blob/master/src/VectorTileLayer.js).

### Describe the proposed solution

Should we change VectorBasemapLayer to inherit from VectorTileLayer? We should investiga

[2022-09-12 15:54] arschmitz opened #151 "Switching basemaps can sometimes cause tiles to not render"
### Describe the bug

When using multiple basemap layers controlled by the standard leaflet layer control some times when switching layers the new layer will not render.

### Reproduction

* Load a basic map with multiple basemap layers
* zoom in and switch layers (should work correctly)
* pan several screens distance
* switch layers again (layer will not render)
* panning map will cause the map t

[2022-09-13 17:54] patrickarlt commented on #150
I don't have anything to add here but I think this would be a good change.

[2022-09-14 08:54] javalonde commented on #107
Czesc @jwasilgeo

I have updated possible library versions but the problem is stil there.
https://codepen.io/javalonde/pen/oNdYWMb
Here is another simple example. Vectors are not shown from zoom level 17.
When i use:
https://vector.services.geodataonline.no/arcgis/rest/services/GeocacheVector/GeocacheBasisTerreng_WM/VectorTileServer/
in arcgis-map-vierw (https://www.arcgis.com/apps/mapviewer/index

[2022-09-16 14:59] jwasilgeo commented on #107
Czesc @javalonde. If the VectorTileServer only has tiles down to level 15, but they are visible deeper in ArcGIS Online using the ArcGIS API for JavaScript, it makes me think they are doing some resampling or "overzooming" to allow you to get closer to those same zoom level 15 tiles. I don't believe the last time I check with this plugin for Leaflet that it has this concept. What do you think @gav

[2022-09-19 17:29] patrickarlt commented on #107
@jwasilgeo @javalonde By default I believe published vector tile layer layers are generated with a tile index [see the ArcGIS Pro Docs](https://pro.arcgis.com/en/pro-app/2.9/help/mapping/map-authoring/author-a-map-for-vector-tile-creation.htm#ESRI_SECTION1_9D9AA21C8EE142E9A4673F0F5219A9C8) when you use an index the client ahs to understand how to use the index to request (or overzoom and resample

[2022-09-22 13:08] corrigancd commented on #146
Hi @gavinr,

Thanks for getting back on this and I agree it's best to handle them one by one.

For this one, I've made a [codepen with an example of needing improved error handling](https://codepen.io/corrigancd/pen/eYrEbvx). I added a `portalUrl` and I've added some characters to the end to make it not valid, but it works if the `_INTENTIONALLY_WRONG_PORTAL_URL` is removed from the end of the `po

[2022-09-28 12:12] javalonde commented on #107
@patrickarlt thanks for your commitment.
The vector source provider gave me code that shows that it works to the deepest level with MapLibre and also thinks it should work with Leaflet. What do you think?
https://codepen.io/javalonde/pen/eYrVBKo

[2022-10-07 18:41] gavinr commented on #146
Thanks @corrigancd. We like your idea, but instead of an error callback, we think we should emit an event, (e.g. `onErrror`). I'll try to work on a PR that does this, or if you want to, PRs are welcome. Thanks!

[2022-10-13 16:10] jakubmank commented on #102
I had this error when the apiKey was incorrect.

[2022-10-13 19:23] patrickarlt commented on #151
@arschmitz can you post a basic reproduction of this issue? It would help when debugging.

[2022-10-13 19:37] patrickarlt commented on #107
@javalonde I have a reproduction of this now in https://codepen.io/patrickarlt/pen/RwyvJvp?editors=0010. It does appear to work fine in MapLibre https://codepen.io/javalonde/pen/eYrVBKo?editors=1000. I'll look into why there is a difference.

[2022-11-07 06:11] NatEvatt opened #152 "Missing _resize function in MaplibreGLLayer.js module"
### Describe the bug

I am currently in the process of moving my production app from `L.esri.BasemapLayer` to your vector tiles plugin and running into an issue.  When calling the map.invalidateSize() function, I run into a `leaflet-src.js:588 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'call')`

When I jump into dev tools, this `fire` method within `invalidateSiz

[2022-11-08 10:31] javalonde commented on #107
@patrickarlt It looks at in MapLibre there are no more request for new data when zoom is higher than 15.  Perhaps it's using already collected vector data.

[2022-11-08 17:23] gavinr commented on #152
Thank you for the report!

To add an additiaonl debugging data point:
- The issue does happen in `esri-leaflet-vector@4.0.0`: https://jsbin.com/waheyomodi/1/edit?html,output
- The issue does not happen (no error - works correctly) in `esri-leaflet-vector@3.1.5`: https://jsbin.com/waheyomodi/2/edit?html,output